<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Title Page-->
    <title>SAM Student</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300i,400i' rel="stylesheet"
          type="text/css">
</head>

<body>
<div id="app"></div>
</body>