/*----------------------FONTS---------------------*/
.kh-body {
    font-size: 13px;
}

.kh-title {
    font-size: 20px;
}

.kh-battambang {
    font-family: Roboto, sans-serif, 'Kh-Battambang' !important;
}

.kh-regular {
    font-family: Roboto, sans-serif, 'Kh-Battambang' !important;
    /*font-family: Mef1, "Khmer MEF1" !important;*/
}

.kh-bold {
    font-family: Roboto, sans-serif, "kh-muol-light" !important;
    /*font-family: Mef2, "Khmer MEF2" !important;*/
}

.kh-muol-light {
    font-family: Roboto, sans-serif, "kh-muol-light" !important;
}

/***********************************************************************************************/
/***********************************************************************************************/
/************************************Vuetify Material Design************************************/
/***********************************************************************************************/
/***********************************************************************************************/

/*----------------------SCROLLBAR---------------------*/
.v-dialog::-webkit-scrollbar,
    /*body::-webkit-scrollbar,*/
.v-menu__content::-webkit-scrollbar, .drawer::-webkit-scrollbar {
    width: 0px !important;
}

.v-dialog,
    /*body,*/
.v-select-list, .drawer {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

/*----------------------TABLE---------------------*/
.v-data-table.theme--dark thead tr th {
    background-color: rgba(33, 33, 33, 0.35);
}

.v-data-table.theme--light thead tr th {
    background-color: rgba(214, 214, 214, 0.35);
}

.v-data-table.theme--dark thead tr th {
    color: #ffffff !important;
}

.v-data-table.theme--light thead tr th {
    color: #000000 !important;
}

.v-data-table thead tr th {
    font-weight: bold !important;
}

.v-data-table thead tr th, .v-data-table tbody tr td {
    font-size: 14px !important;
    padding: 0px 9px 0px 9px !important;
}

.v-data-table.dense tbody td, .v-data-table.dense tbody th {
    height: 34px !important;
}

.table-action-button {
    margin: 2px !important;
    width: 28px !important;
    height: 29px !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

.table-action-button .v-btn__content i {
    margin-right: 0px !important;
    font-size: 19px !important;
}

/*pagination item*/
.theme--light .v-pagination__item, .theme--light .v-pagination__navigation,
.theme--dark .v-pagination__item, .theme--light .v-pagination__navigation {
    /*box-shadow: 0 0px 1px 0px #757575 !important;*/
    box-shadow: 0 0 !important;
}

.theme--light.v-pagination .v-pagination__item:not(.primary) {
    background-color: #f3f3f3 !important;
}

.theme--dark.v-pagination .v-pagination__item:not(.primary) {
    background-color: #343434 !important;
}

.v-datatable__actions__select {
    margin-right: 0 !important;
    width: 147px !important;
}

.v-data-footer__icons-before, .v-data-footer__icons-after {
    display: none;
}

.v-data-table .v-data-footer {
    padding-top: 5px;
}

/*----------------------FORM---------------------*/
.v-form > .container {
    max-width: 100% !important;
}

.v-input--selection-controls {
    margin-top: 0 !important;
}

/*.v-text-field--outlined > .v-input__control > .v-input__slot {*/
/*min-height: 45px !important;*/
/*border-width: 1px !important;*/
/*}*/

/*.v-text-field__details {*/
/*    margin-top: -5px !important;*/
/*    padding-bottom: 4px !important;*/
/*}*/

.v-input--checkbox {
    /*margin-bottom: 17px !important;*/
}

/*input height container*/


/*text area*/
/*.v-textarea.v-text-field--box .v-text-field__prefix, .v-textarea.v-text-field--box textarea, .v-textarea.v-text-field--enclosed .v-text-field__prefix, .v-textarea.v-text-field--enclosed textarea {*/
/*    margin-top: 0 !important;*/
/*}*/

/*auto complete*/
/*.v-autocomplete.v-text-field--enclosed:not(.v-text-field--solo):not(.v-text-field--single-line) .v-select__slot > input {*/
/*    margin-top: 0 !important;*/
/*}*/

/*select*/
/*.v-text-field--outlined > .v-input__control > .v-input__slot > .v-select__slot > .v-select__selections {*/
/*    padding-top: 0px !important;*/
/*}*/

/*select with chips*/
/*.v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--box .v-select__selections, .v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--enclosed .v-select__selections {*/
/*    min-height: 0 !important;*/
/*}*/

/*append prepend inner outer*/
/*.v-text-field--enclosed:not(.v-text-field--solo-flat) .v-input__append-inner,*/
/*.v-text-field--enclosed:not(.v-text-field--solo-flat) .v-input__append-outer,*/
/*.v-text-field--enclosed:not(.v-text-field--solo-flat) .v-input__prepend-inner,*/
/*.v-text-field--enclosed:not(.v-text-field--solo-flat) .v-input__prepend-outer {*/
/*    margin-top: 9px !important;*/
/*}*/

/*.v-text-field--outlined > .v-input__control > .v-input__slot > .v-select__slot > .v-input__append-inner,*/
/*.v-text-field--outlined > .v-input__control > .v-input__slot > .v-select__slot > .v-input__prepend-inner {*/
/*    margin-top: 10px !important;*/
/*}*/

/*----------------------LABEL---------------------*/
/*label active*/
/*.v-text-field--outlined > .v-input__control > .v-input__slot > .v-text-field__slot > .v-label--active,*/
/*.v-text-field--outlined > .v-input__control > .v-input__slot > .v-select__slot > .v-label--active {*/
/*    !*new*!*/
/*    !*font-size: 17px !important;*!*/
/*    !*top: -10px !important;*!*/
/*    !*height: 30px !important;*!*/
/*    line-height: 1 !important;*/
/*}*/

/*label*/
/*.v-text-field--outlined > .v-input__control > .v-input__slot > .v-text-field__slot > .v-label:not(.v-label--active),*/
/*.v-text-field--outlined > .v-input__control > .v-input__slot > .v-select__slot > .v-label:not(.v-label--active) {*/
/*    top: 11px !important;*/
/*    !*font-size: 14px !important;*!*/
/*}*/

/*.v-input .v-label {*/
/*    height: 24px !important;*/
/*    line-height: 23px !important;*/
/*}*/

/*----------------------BORDER-RADIUS---------------------*/
/*border-radius*/
.v-dialog:not(.v-dialog--fullscreen) {
    /*border-radius: 4px !important;*/
}

.v-dialog--fullscreen > .v-card {
    border-radius: 0 !important;
}

.v-btn:not(.v-btn--icon):not(.v-btn--round):not(.v-btn--floating):not(.form-button),
.v-alert,
.v-toast,
.icon-button,
.drawer .v-ripple__container,
.drawer > .v-list .v-list__group__header:hover,
.drawer > .v-list .v-list__tile--link:hover,
.drawer > .v-list .v-list__tile--active,
.drawer > .v-list .v-list__tile--active:hover,
.v-progress-linear,
.description-list .v-ripple__container,
.description-list > .v-list .v-list__group__header:hover,
.description-list > .v-list .v-list__tile--link:hover,
.description-list > .v-list .v-list__tile--active,
.description-list > .v-list .v-list__tile--active:hover,
.v-card, .v-snack__wrapper, .v-input__control, .v-input__slot, .v-list, .v-tabs__item, .v-menu__content, .date-range,
.v-list__tile:hover {
    /*border-radius: 6px !important;*/
}


/*----------------------BUTTON---------------------*/
.icon-button {
    min-width: 36px !important;
    min-height: 36px !important;
}

.v-icon--left {
    /*margin-right: 5px !important;*/
}

/*button elevation*/
.v-btn:not([class*="elevation-"]):not(.success):not(.error):not(.warning):not(.primary):not(.info):not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--floating) {
    /*box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.6) !important;*/
}

.v-btn:not(.v-btn--depressed):not(.v-btn--flat):not([class*="elevation-"]) {
    /*box-shadow: 0 0 !important;*/
}

/*----------------------DRAWER---------------------*/
/*drawer*/
.drawer > .v-list .v-list__group:after, .v-list__group:before {
    height: 0 !important;
}

.drawer > .v-list .v-list__tile__action {
    padding-left: 9px !important;
}

.drawer > .v-list .v-list__group__header__prepend-icon {
    padding-left: 25px !important;
    padding-right: 7px !important;
}

.drawer > .v-list .v-list__tile__action .v-icon,
.drawer > .v-list .v-list__group__header__prepend-icon .v-icon {
    font-size: 22px !important;
}

.drawer > .v-list .v-list__tile:not(.v-list__tile--active) .v-list__tile__action .v-icon:not(.theme--light),
.drawer > .v-list .v-list__group__header__prepend-icon .v-icon:not(.theme--light) {
    color: #ffffff;
}

.drawer > .v-list .v-list__tile:not(.v-list__tile--active) .v-list__tile__action .v-icon:not(.theme--dark),
.drawer > .v-list .v-list__group__header__prepend-icon .v-icon:not(.theme--dark) {
    color: #818181;
}

.drawer > .v-list .v-list__group__items--no-action .v-list__tile {
    padding-left: 16px !important;
}

.drawer > .v-list {
    margin-left: 8px;
    margin-right: 8px;
}

.drawer > .v-list .v-list__group__header:hover,
.drawer > .v-list .v-list__tile--link:hover {
    /*border-top-right-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/
    background: hsla(0, 0%, 100%, .08);
}

.drawer > .v-list .v-list__tile--active,
.drawer > .v-list .v-list__tile--active:hover {
    background-color: #3497db !important;
    /*color: #3497db !important;*/
    /*border-right: 5px solid #3497db !important;*/
    /*border-radius: 0 !important;*/

    /*old*/
    /*box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12) !important;*/
    color: #ffffff !important;
    /*background: -moz-linear-gradient(-45deg, #3497db 0%, #3deff6 100%) !important;*/
    /*background: -webkit-linear-gradient(-45deg, #3497db 0%, #3deff6 100%) !important;*/
    /*background: linear-gradient(135deg, #3497db 0%, #3deff6 100%) !important;*/


    /*border-radius: 6px;*/
    /*border-top-right-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/
    /*margin-right: 6px;*/
}

.drawer > .v-list .v-list__tile {
    margin-bottom: 2px !important;
}

/*drawer item-title*/
.item-title {
    font-weight: bold;
}

.drawer > .v-list .v-list__tile {
    height: 40px !important;
}

/*----------------------THEME---------------------*/
/*dark and white themes*/
.theme--light.v-toolbar {
    background-color: #ffffff !important;
}

/*.theme--dark.v-toolbar {*/
/*    background-color: #000000 !important;*/
/*}*/

.theme--light.v-navigation-drawer {
    /*background-color: #f5f5f5 !important;*/
}

.theme--dark.v-navigation-drawer {
    background-color: #2b2b2b !important;
}

.theme--dark.v-footer {
    /*background-color: #3d3d3d !important;*/
}

/*.theme--light.application {*/
/*    background: #ffffff !important;*/
/*}*/
/*.theme--dark.application {*/
/*    background: #121212 !important;*/
/*}*/
/*.theme--dark.v-sheet{*/
/*    background-color: #383838 !important;*/
/*}*/
.v-label--active:not(.theme--dark) {
    /*background: #ffffff !important;*/
}

.v-label--active:not(.theme--light) {
    /*background: #424242 !important;*/
}

/*toolbar*/
.v-toolbar__content, .v-toolbar__extension {
    /*padding-left: 8px !important;*/
    /*padding-right: 18px !important;*/
}

/*tabs-slider*/
.v-tabs__slider {
    height: 4px !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

/*----------------------BORDER and ELEVATION---------------------*/
.theme--light.border-01 {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 !important;
}

.theme--light.border-1 {
    border: 1px solid rgba(0, 0, 0, .54) !important;
    box-shadow: 0 0 !important;
}

.theme--dark.border-01 {
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
    box-shadow: 0 0 !important;
}

.theme--dark.border-1 {
    border: 1px solid rgba(255, 255, 255, .54) !important;
    box-shadow: 0 0 !important;
}

.border-2 {
    border: 2px solid rgba(0, 0, 0, .54) !important;
    box-shadow: 0 0 !important;
}

.elevation-01 {
    box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.6), 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.2) !important;
}

/*----------------------OTHER---------------------*/
.drawer1, .auth-background1, .app-background1 {
    background-color: #141a2c !important;
}

/*----------------------COLOR SYSTEM---------------------*/
/*v-toaster*/
.v-toast-error {
    background: #c0392b !important;
}

.v-toast-success {
    background: #27ae60 !important;
}

.v-toast-warning {
    background: #f39c26 !important;
}

.v-toast-info {
    background: #8e44ad !important;
}

/*colors*/
.primary-gradient {
    background: -moz-linear-gradient(-45deg, #3497db 0%, #1caafc 100%) !important;
    background: -webkit-linear-gradient(-45deg, #3497db 0%, #1caafc 100%) !important;
    background: linear-gradient(135deg, #3497db 0%, #1caafc 100%) !important;
}

.error-gradient {
    background: -moz-linear-gradient(-45deg, #c0392b 0%, #fa2c60 100%) !important;
    background: -webkit-linear-gradient(-45deg, #c0392b 0%, #fa2c60 100%) !important;
    background: linear-gradient(135deg, #c0392b 0%, #fa2c60 100%) !important;
}

.success-gradient {
    background: -moz-linear-gradient(-45deg, #27ae60 0%, #20ca73 100%) !important;
    background: -webkit-linear-gradient(-45deg, #27ae60 0%, #20ca73 100%) !important;
    background: linear-gradient(135deg, #27ae60 0%, #20ca73 100%) !important;
}

.warning-gradient {
    background: -moz-linear-gradient(-45deg, #f39c26 0%, #fecb2f 100%) !important;
    background: -webkit-linear-gradient(-45deg, #f39c26 0%, #fecb2f 100%) !important;
    background: linear-gradient(135deg, #f39c26 0%, #fecb2f 100%) !important;
}

.info-gradient {
    background: -moz-linear-gradient(-45deg, #8e44ad 0%, #a65bdf 100%) !important;
    background: -webkit-linear-gradient(-45deg, #8e44ad 0%, #a65bdf 100%) !important;
    background: linear-gradient(135deg, #8e44ad 0%, #a65bdf 100%) !important;
}

.user-profile {
    margin-top: -8px;
    /*border-top-right-radius: 6px !important;*/
    /*border-top-left-radius: 6px !important;*/
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: white !important;
    background: -moz-linear-gradient(-45deg, #3497db 0%, #1caafc 100%) !important;
    background: -webkit-linear-gradient(-45deg, #3497db 0%, #1caafc 100%) !important;
    background: linear-gradient(135deg, #3497db 0%, #1caafc 100%) !important;
}

/********************************************VUETIFY v2******************************************************/
.v-application--is-ltr .v-data-footer__select {
    margin-right: 10px !important;
    font-size: 14px !important;
}

.v-application--is-ltr .v-data-footer__select .v-select {
    margin: 13px 0px 13px 24px !important;
}

.v-application--is-ltr .v-data-footer__pagination {
    margin: 0 10px 0 10px !important;
}

.centered-input input {
    text-align: center
}

/*list*/
.v-list-item__title, .v-text-field--outlined > .v-input__control > .v-input__slot > .v-select__slot > input,
.v-text-field--outlined > .v-input__control > .v-input__slot > .v-text-field__slot > input,
.v-text-field--rounded > .v-input__control > .v-input__slot > .v-text-field__slot > input {
    line-height: 1;
    padding: 5px 0 5px 0;
}

.v-label {
    line-height: 1;
    font-size: 14px !important;
}

.v-input .v-label {
    height: 26px !important;
}

.v-chip {
    margin: 1px;
}

.v-card__title {
    word-break: break-word !important;
}