<template>
    <div>

    </div>
</template>

<script>

  export default {
    name: "Home",
    components: {},
    data() {
      return {
        currentUser: this.$store.state.currentUser,
      }
    },
    computed: {
      currentLanguage() {
        return this.$store.state.core.currentLocale;
      }
    }
  }
</script>

<style scoped>

</style>