<template>
    <v-layout align-center justify-center row fill-height>
        <v-layout align-center justify-center row fill-height wrap
                  v-if="!!user.profile.modules && user.profile.modules.length>0">
            <v-flex sm12 md6 class="align-center" style="cursor: pointer; margin: 10px; max-width: 168px"
                    v-for="(item, index) in user.profile.modules" :key="index">
                <div @click="onModuleSelected(item)" style="text-align: center">
                    <v-card class="animated fadeIn hvr-grow pa-2">
                        <!--icon-->
                        <div :class="`module ${setModuleStyle(item)}`">
                            <img :src="setModuleIcon(item)" style="width: 100px; padding-top: 35px"/>
                        </div>

                        <div class="footer">
                            <h3 class="footer-text">{{item}}
                            </h3>
                        </div>
                    </v-card>
                </div>
            </v-flex>
        </v-layout>
        <un-authenticate v-else></un-authenticate>
    </v-layout>
</template>

<script>
  import Constants from "../../libs/constants";
  import UnAuthenticate from "./UnAuthenticate";

  export default {
    name: "Module",
    components: {UnAuthenticate},
    props: ["user"],
    methods: {
      onModuleSelected(name) {
        this.$emit('onModuleSelected', name)
      },
      setModuleIcon(module) {
        let img = 'images/logo.png';
        // switch (module) {
        //   case 'rms':
        //     img = 'images/logo.png';
        //     break;
        // }
        return img;
      },
      setModuleStyle(module) {
        let style = '';
        switch (module) {
          case 'art':
            style = 'art';
            break;
          case 'rms':
            style = 'rms';
            break;
        }
        return style;
      },
      // shortName(name) {
      //   return !!name ? name.split('')[0] : 'na';
      // },
      // translateModuleName(module) {
      //   return !!Constants.modulesOptions[module] ? Constants.modulesOptions[module].label : '';
      // }
    }
  }
</script>

<style lang="scss" scoped>
    $reflex: #07c1ff;
    $ums: #60ac3c;
    $rms: #79339f;
    $workActivity: #FC4B43;
    $asset: #f38230;
    .art {
        background: $ums;
        background: -moz-linear-gradient(-45deg, $ums 0%, $reflex 100%);
        background: -webkit-linear-gradient(-45deg, $ums 0%, $reflex 100%);
        background: linear-gradient(135deg, $ums 0%, $reflex 100%);
    }

    .rms {
        background: $rms;
        background: -moz-linear-gradient(-45deg, $rms 0%, $reflex 100%);
        background: -webkit-linear-gradient(-45deg, $rms 0%, $reflex 100%);
        background: linear-gradient(135deg, $rms 0%, $reflex 100%);
    }

    .workActivity {
        background: $workActivity;
        background: -moz-linear-gradient(-45deg, $workActivity 0%, $reflex 100%);
        background: -webkit-linear-gradient(-45deg, $workActivity 0%, $reflex 100%);
        background: linear-gradient(135deg, $workActivity 0%, $reflex 100%);
    }

    /*.outer {*/
    /*display: table;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*}*/

    /*.middle {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*}*/

    /*.inner {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 200px;*/
    /*!*whatever width you want*!*/
    /*}*/

    .module {
        /*background-color: #5daf34;*/
        height: 170px;
    }

    .module-title {
        color: white;
        font-size: 100px;
        text-align: center;
    }

    .footer {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .footer-text {
        line-height: 1.7;
        font-weight: normal;
        text-align: center;
    }
</style>

<!--icon-->
<!--https://www.flaticon.com/search/4?word=school&style_id=6-->