<template>
    <v-card outlined>
        <v-layout align-center justify-center column fill-height>
            <div class="banner">
                <img src="/images/safari.gif"/>
            </div>
            <div class="hero text--primary">
                {{$t('error404')}} !
            </div>
            <div style="font-size: 18px; color: #ff6b68">
                {{$t('noPageToDisplay')}}
                <v-btn text @click="goHome">{{$t('backHome')}}</v-btn>
            </div>
        </v-layout>
    </v-card>
</template>

<script>
  export default {
    name: 'NotFound',
    methods: {
      goHome() {
        this.$router.replace('/');
      }
    }
  }
</script>

<style scoped>
    .hero {
        font-size: 2.5em;
        color: white;
        margin: 12px;
    }

    .banner img {
        width: 240px;
        border-radius: 5px;
        padding-bottom: 0px;
    }

    .router-link-active {
        color: #13b8da !important;
    }
</style>
