<template>
    <v-layout align-center justify-center column fill-height>
        <v-card class="pa-3">
            <v-layout align-center justify-center column fill-height>
                <div class="banner">
                    <img src="/images/locker.png"/>
                </div>
                <div class="hero black--text">
                    {{$t('error401')}} !
                </div>
                <div style="font-size: 18px; color: #ff6b68">
                    {{$t('unauthenticated')}}! {{$t('contactAdmin')}}
                    <v-btn flat @click="logout">{{$t('logout')}}</v-btn>
                </div>
            </v-layout>
        </v-card>
    </v-layout>
</template>

<script>
  export default {
    name: 'UnAuthenticate',
    methods: {
      logout() {
        this.$store.dispatch("logout");
      }
    }
  }
</script>

<style scoped>

    .hero {
        font-size: 2.5em;
        color: white;
        margin: 12px;
    }

    .banner img {
        width: 150px;
        border-radius: 5px;
        padding-bottom: 15px;
    }

    .router-link-active {
        color: #13b8da !important;
    }
</style>
