<template>
    <div>
        <dialog-box :title="$t('studentDetail')" :visible="dialogVisible" @close="handleClose"
                    width="700" :has-action="false">
            <template slot="content">
                <v-subheader style="height: 30px;" class="primary--text">{{$t('general')}}</v-subheader>
                <v-layout row wrap>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list :title="$t('name')" :value="currentRow.name"></description-list>
                    </v-flex>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list :title="$t('sex')" :value="currentRow.sex"></description-list>
                    </v-flex>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list :title="$t('age')" :value="currentRow.age"></description-list>
                    </v-flex>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list :title="$t('dob')" :value="currentRow.dob"></description-list>
                    </v-flex>
                </v-layout>
                <v-subheader style="height: 30px;" class="primary--text" v-if="checkRole(['super'])">{{$t('transaction')}}
                </v-subheader>
                <v-layout row wrap v-if="checkRole(['super'])">
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list title="_id" :value="currentRow._id"></description-list>
                    </v-flex>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list title="GID" :value="currentRow.gId"></description-list>
                    </v-flex>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list :title="$t('createdUser')" :value="currentRow.createdUser"></description-list>
                    </v-flex>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list :title="$t('createdAt')"
                                          :value="dateTimeFormatter(currentRow.createdAt)"></description-list>
                    </v-flex>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list :title="$t('updatedUser')"
                                          :value="currentRow.updatedUser"></description-list>
                    </v-flex>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list :title="$t('updatedAt')"
                                          :value="dateTimeFormatter(currentRow.updatedAt)"></description-list>
                    </v-flex>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list :title="$t('deletedUser')"
                                          :value="currentRow.deletedUser"></description-list>
                    </v-flex>
                    <v-flex xs6 sm4 md4 lg3>
                        <description-list :title="$t('deletedAt')"
                                          :value="dateTimeFormatter(currentRow.deletedAt)"></description-list>
                    </v-flex>
                </v-layout>
            </template>
        </dialog-box>
    </div>
</template>

<script>
  import moment from 'moment';
  import DialogBox from "../../../components/DialogBox";
  import DescriptionList from "../../../components/DescriptionList";
  import {CheckRoles} from "../../../../libs/checkRoles";

  export default {
    name: "StudentShow",
    props: ['dialogVisible', 'currentRow'],
    components: {DialogBox, DescriptionList},
    data(){
      return {
        currentUser: this.$store.state.currentUser,
        currentModule: this.$store.state.currentModule,
      }
    },
    methods: {
      dateFormatter(date) {
        return !!date ? moment(date).format('DD-MM-YYYY') : '';
      },
      dateTimeFormatter(date) {
        return !!date ? moment(date).format('DD-MM-YYYY h:mm:ss a') : '';
      },
      handleClose() {
        this.$emit('close');
        this.$emit('reset');
      },
      checkRole(roles) {
        return CheckRoles({roles, module: this.currentModule})
      },
    }
  }
</script>

<style scoped>

</style>