<template>
    <div>
        <dialog-box :title="$t('editStudent')" :visible="dialogVisible" @close="handleClose"
                    width="700" persistent>
            <template slot="content">
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-container grid-list-md>
                        <v-layout row wrap>
                            <v-flex xs12 sm6 md4 lg3>
                                <v-text-field v-model="formData.name"
                                              :label="$t('name')"
                                              outlined
                                              dense
                                              :rules="rules.name"
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 lg3>
                                <v-text-field v-model="formData.sex"
                                              :label="$t('sex')"
                                              outlined
                                              dense
                                              :rules="rules.sex"
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 lg3>
                                <v-text-field v-model="formData.age"
                                              :label="$t('age')"
                                              outlined
                                              dense
                                              :rules="rules.age"
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 lg3>
                                <v-text-field v-model="formData.dob"
                                              :label="$t('dob')"
                                              outlined
                                              dense
                                              :rules="rules.dob"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </template>
            <template slot="actions">
                <reset-button @resetForm="resetForm" :disabled="loading"></reset-button>
                <submit-button @submitForm="submitForm" :loading="loading" :valid="valid"></submit-button>
            </template>
        </dialog-box>
    </div>
</template>

<script>
  import _ from 'lodash';
  import DialogBox from "../../../components/DialogBox";
  import SubmitButton from "../../../components/SubmitButton";
  import ResetButton from "../../../components/ResetButton";
  import Snackbar from "../../../components/Snackbar";
  import moment from "moment";
  import {sex} from "../../../../rawData/selectOpt";

  export default {
    name: "StudentUpdate",
    props: ['dialogVisible', 'currentRow'],
    components: {SubmitButton, ResetButton, DialogBox, Snackbar},
    data() {
      return {
        currentUser: this.$store.state.currentUser,
        currentModule: this.$store.state.currentModule,
        //
        loading: false,
        valid: false,
        //
        sexOpt: sex,
        formData: {
          name: '',
          sex: '',
          age: '',
          dob: '',
        },
        rules: {
          name: [v => !!v || this.$t('nameIsRequired')],
          sex: [v => !!v || this.$t('sexIsRequired')],
          age: [v => !!v || this.$t('ageIsRequired')],
          dob: [v => !!v || this.$t('dobIsRequired')],
        },
      }
    },
    methods: {
      checkRole(roles) {
        return CheckRoles({roles, module: this.currentModule})
      },
      submitForm() {
        if (this.$refs.form.validate()) {
          this.loading = true;
          setTimeout(() => this.updateStudent(), 500);
        }
      },
      resetForm() {
        this.$refs.form.resetValidation();
        this.$refs.form.reset();
      },
      updateStudent() {
        Meteor.call('sam_updateStudent', {
          userId: this.currentUser._id,
          module: this.currentModule,
          selector: {_id: this.currentRow._id},
          updateDoc: this.formData
        }, (err, res) => {
          if (!err) {
            this.$toaster.success(this.$t('success'));
            this.handleClose();
          } else {
            this.$toaster.error(err.message);
          }
          this.loading = false;
        });
      },
      handleClose() {
        this.$emit('close');
        this.resetForm();
      },
      dateFormatter(date) {
        return !!date ? moment(date).format('DD-MM-YYYY') : '';
      },
    },
    watch: {
      currentRow(nextVal) {
        this.formData = Object.assign({}, nextVal);
      }
    }
  }
</script>

<style scoped>

</style>