<template>
    <div>
        <skeleton-loader :loading="fetching" child>
            <template slot="child">
                <v-card outlined class="pb-1">
                    <v-card-text class="px-7">
                        <v-layout row wrap align-center>
                            <v-flex xs6 sm3 md3 lg2>
                                <add-button @add="studentInsertVisible=true"></add-button>
                            </v-flex>
                            <v-spacer></v-spacer>
                            <v-flex xs6 sm4 md3 lg3>
                                <v-text-field
                                        @input="searchDebounce"
                                        :label="$t('search')"
                                        clearable
                                        prepend-inner-icon="search"
                                        filled
                                        rounded
                                        dense
                                        hide-details
                                        single-line
                                        class="pr-1"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                    <v-divider></v-divider>
                    <data-table :headers="tableHeaders"
                                :items="data.items"
                                :total="data.total"
                                :loading="loading"
                                :pagination="pagination"
                                @handlePageChange="handlePageChange"
                                @handleUpdatePagination="handleUpdatePagination"
                    >
                        <template slot="header" slot-scope="{header}">
                            <span>{{$t(header.text)}}</span>
                        </template>
                        <template slot="body" slot-scope="{items}">
                            <tbody>
                            <tr v-for="(item, index) in items" :key="item.name+index">
                                <td>{{item.gId}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.sex}}</td>
                                <td>{{item.age}}</td>
                                <td class="justify-center">
                                    <v-btn color="primary" class="table-action-button" text icon
                                           @click.native="handleUpdate(item)">
                                        <v-icon>edit</v-icon>
                                    </v-btn>
                                    <v-btn color="error" class="table-action-button" text icon
                                           @click.native="handleRemove(item)">
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                    <v-btn class="table-action-button" text icon
                                           @click.native="handleShow(item)">
                                        <v-icon>more_vert</v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                            </tbody>
                        </template>
                    </data-table>
                </v-card>
            </template>
        </skeleton-loader>
        <!--student insert-->
        <student-insert :dialog-visible="studentInsertVisible"
                       @close="studentInsertVisible=false"/>
        <!--student update-->
        <student-update :dialog-visible="studentUpdateVisible"
                       :current-row="currentRow"
                       @reset="currentRow={}"
                       @close="studentUpdateVisible=false"/>
        <!--student show-->
        <student-show :dialog-visible="studentShowVisible"
                     :current-row="currentRow"
                     @reset="currentRow={}"
                     @close="studentShowVisible=false"/>
        <confirm-dialog
                :visible="confirmDialog.visible"
                @confirm="confirmDialog.confirmFn"
                @close="confirmDialog.visible=false"
                :title="confirmDialog.title"
                :type="confirmDialog.type"
                :text="confirmDialog.text"/>
    </div>
</template>

<script>
  import ConfirmDialog from "../../../components/ConfirmDialog";
  import DataTable from "../../../components/DataTable";
  import {SAM_StudentHelper} from "../../../../collections/SAM/student";
  import _ from 'lodash';
  import AddButton from "../../../components/AddButton";
  import moment from "moment";
  import SkeletonLoader from "../../../components/SkeletonLoader";
  import Loading from "../../../components/Loading";
  import {CheckRoles} from "../../../../libs/checkRoles";
  import StudentInsert from './StudentInsert';
  import StudentUpdate from "./StudentUpdate";
  import StudentShow from "./StudentShow";

  export default {
    name: "Student",
    components: {Loading, AddButton, ConfirmDialog, DataTable, SkeletonLoader, StudentShow, StudentUpdate, StudentInsert},
    data() {
      return {
        currentUser: this.$store.state.currentUser,
        currentModule: this.$store.state.currentModule,
        skip: 0,
        limit: 10,
        tableHeaders: [
          {text: 'id', value: 'gId', align: ''},
          {text: 'name', value: 'name', align: ''},
          {text: 'sex', value: 'sex', align: ''},
          {text: 'age', value: 'age', align: ''},
          {text: 'action', value: 'action', sortable: false, width: '145px'}
        ],
        data: {
          items: [],
          total: 0,
        },
        pagination: {
          page: 1,
          itemsPerPage: 10,
          multiSort: false,
          mustSort: false,
          sortBy: [],
          sortDesc: []
        },
        searchText: '',
        selector: {},
        loading: true,
        fetching: true,
        //form
        studentInsertVisible: false,
        studentUpdateVisible: false,
        studentShowVisible: false,
        currentRow: {},
        //extra
        confirmDialog: {
          type: 'error',
          visible: false,
          text: '',
          title: '',
          confirmFn: () => null
        },
      }
    },
    methods: {
      searchDebounce: _.debounce(function (e) {
        this.searchText = e;
        this.findStudent();
      }, 500),
      handlePageChange(page) {
        if (parseInt(page) !== this.pagination.page) {
          this.loading = true;
          this.pagination.page = parseInt(page);
          this.skip = (this.limit * parseInt(page)) - this.limit;
          this.findStudent();
        }
      },
      handleUpdatePagination({sortDesc, itemsPerPage, sortBy}) {
        this.loading = true;
        this.limit = itemsPerPage;
        this.pagination = {
          page: Math.ceil((itemsPerPage + this.skip) / itemsPerPage),
          itemsPerPage: itemsPerPage,
          sortBy: sortBy,
          sortDesc: sortDesc,
        };
        let sort = {};
        sortBy.map((o, i) => sort[o] = !!sortDesc[i] ? -1 : 1);
        this.selector.sort = sort;
        this.findStudent();
      },
      findStudent: _.debounce(function (e) {
        Meteor.call('sam_findStudent', {
          userId: this.currentUser._id,
          module: this.currentModule,
          q: this.searchText,
          selector: this.selector,
          options: {
            limit: this.limit,
            skip: this.skip
          }
        }, (err, result) => {
          if (!err) {
            this.data.items = result.content;
            this.data.total = result.count;
          } else {
            this.$toaster.error(err.message);
          }
          this.loading = false;
          this.fetching = false;
        });
      }, 200),
      handleUpdate(row) {
        Meteor.call('sam_findOneStudent', {
          userId: this.currentUser._id,
          selector: {_id: row._id},
          module: this.currentModule
        }, (err, res) => {
          if (!err) {
            this.currentRow = Object.assign({}, res);
            this.studentUpdateVisible = true;
          } else {
            this.$toaster.error(err.message);
          }
        });
      },
      handleRemove(row) {
        // if (this.checkRole(["delete"])) {
        Meteor.call('sam_studentIsUsed', {
          userId: this.currentUser._id,
          module: this.currentModule,
          selector: {studentId: row._id},
          options: {limit: 1, skip: 0}
        }, (err, res) => {
          if (!err) {
            if (res) {
              this.$toaster.error(`${this.$t('student')} ${this.$t('isUsed')}`);
            } else {
              this.confirmDialog = {
                type: 'error',
                visible: true,
                title: this.$t('confirm'),
                text: `${this.$t('areYouSureToDelete')} ${row.gId}?`,
                confirmFn: () => this.removeStudent(row)
              };
            }
          } else {
            this.$toaster.error(err.message);
          }
        });
        // } else {
        //   this.$toaster.error(`${this.$t('unauthenticated')}! ${this.$t('contactAdmin')}`);
        // }
      },
      removeStudent(row) {
        Meteor.call('sam_removeStudent', {
          userId: this.currentUser._id,
          module: this.currentModule,
          selector: {_id: row._id},
          // updateDoc: {deleted: true, deletedAt: moment().toDate(), deletedUser: this.currentUser._id}
        }, (err, result) => {
          if (!err) {
            this.$toaster.success(`${this.$t('delete')} ${row.gId} ${this.$t('success')}`);
          } else {
            this.$toaster.error(err.message);
          }
        })
      },
      handleShow(row) {
        this.currentRow = Object.assign({}, row);
        this.studentShowVisible = true;
      },
      dateFormatter(date) {
        return !!date ? moment(date).format('DD-MM-YYYY') : '';
      },
      checkRole(roles) {
        return CheckRoles({roles, module: this.currentModule})
      },
    },
    watch: {
      searchText() {
        this.loading = true;
        this.skip = 0;
        this.pagination.page = 1;
      },
    },
    meteor: {
      $subscribe: {
        'sam_studentHelper': []
      },
      helper() {
        if (Meteor.userId() && !!this.currentUser) {
          this.loading = true;
          SAM_StudentHelper.find({}).fetch();
          this.findStudent();
        }
      }
    }

  }
</script>

<style scoped>

</style>