<template>
    <v-fab-transition>
        <v-btn color="primary" @click="$emit('add')"
               depressed
               :dark="$vuetify.breakpoint.xsOnly"
               :fab="$vuetify.breakpoint.xsOnly"
               :fixed="$vuetify.breakpoint.xsOnly"
               :bottom="$vuetify.breakpoint.xsOnly"
               :right="$vuetify.breakpoint.xsOnly"
               :class="$vuetify.breakpoint.xsOnly ? 'elevation-5 mb-4 mr-2': ''">
            <v-icon :left="!$vuetify.breakpoint.xsOnly" dark>add</v-icon>
            <span v-if="!$vuetify.breakpoint.xsOnly">{{$t('add')}}</span>
        </v-btn>
    </v-fab-transition>
</template>

<script>
  export default {
    name: "AddButton",
  }
</script>

<style scoped>

</style>