<template>
    <v-dialog v-model="visible" fullscreen id="core-loading" transition="fade-transition" class="dialog">
        <v-layout align-center justify-center column fill-height>
            <div>
                <v-progress-circular indeterminate :color="color" :size="60"></v-progress-circular>
            </div>
            <div class="loading-text" v-if="!!text">{{text}}</div>
        </v-layout>
    </v-dialog>
</template>

<script>
  import { mapState, mapMutations } from "vuex";
  export default {
    name: "AppLoading",
    computed: {
      ...mapState({
        visible: state => state.core.loading.visible,
        color: state => state.core.loading.color,
        text: state => state.core.loading.text
      })
    },
    methods: {
      ...mapMutations("core", ["setLoading"]),
      hideLoading() {
        const { color, text } = this;
        this.setLoading({ color, text, visible: false });
      }
    }
  };
</script>

<style scoped>
    .dialog {
        z-index: 1000;
    }
    .loading-text {
        padding-top: 15px;
        font-size: 20px;
    }
</style>