<template>
    <v-fab-transition>
        <v-btn color="pink"
               v-show="visible"
               @click="$vuetify.goTo(target, options)"
               small dark fab fixed bottom right class="elevation-2 mr-4" style="margin-bottom: 85px">
            <v-icon>keyboard_arrow_up</v-icon>
        </v-btn>
    </v-fab-transition>
</template>

<script>

  export default {
    name: 'BackToTop',
    data() {
      return {
        currentScroll: 0,
        visible: false,
      }
    },
    computed: {
      target() {
        const value = 0;
        if (!isNaN(value)) return Number(value);
        else return value
      },
      options() {
        return {
          duration: 500,
          offset: 0,
          easing: 'easeInQuint'
        }
      },
    },
    mounted() {
      const vm = this;
      window.addEventListener('scroll', function (e) {
        // vm.currentScroll = $(window).scrollTop();
        vm.visible = $(window).scrollTop() > 300;
      });
    }
  }
</script>
<style scoped>

</style>
