<template>
    <v-bottom-sheet v-model="sheet">
        <v-card outlined>
            <v-card-title class="headline" primary-title>{{title}}</v-card-title>
            <v-card-text>
                <slot name="content"></slot>
            </v-card-text>
        </v-card>
    </v-bottom-sheet>
</template>

<script>
  export default {
    name: "BottomSheet",
    props: {
      visible: {type: Boolean, default: false},
      title: {type: String, default: ''}
    },
    data() {
      return {
        sheet: false
      }
    },
    watch: {
      visible(nextVal) {
        this.sheet = nextVal;
      },
      sheet(nextVal) {
        !nextVal ? this.$emit('close') : null;
      }
    },
    methods: {
      close() {
        this.$emit('close');
      }
    }
  }
</script>

<style scoped>

</style>