<template>
    <div>
        <!--server-->
        <v-data-table
                :headers="headers"
                :items="items"
                :options.sync="optionsAsync"
                :server-items-length="total"
                :loading="loading"
                class="elevation-0"
                :mobile-breakpoint="100"
                :hide-default-header="hideHeaders"
                :footer-props="{'items-per-page-options': [10, 20, 30, 50, 100], 'items-per-page-text': `${$t('total')} ${total}`}"
        >
            <template v-for="h in headers" :slot="`header.${h.text}`" slot-scope="{ header }">
                <slot name="header" :header="header"></slot>
            </template>
            <!--full custom header-->
<!--            <template slot="header" slot-scope="{ props: { headers } }">-->
<!--                <slot name="tableHeaders" :headers="headers"></slot>-->
<!--            </template>-->
            <!--full custom body-->
            <template slot="body" slot-scope="{ items }">
                <slot name="body" :items="items"></slot>
            </template>
            <template slot="footer.page-text" slot-scope="{pageStart, pageStop, itemsLength}">
                <div style="display: flex;">
                    <v-pagination :value="pagination.page" :length="pages" :total-visible="6"
                                  @input="handlePageChange"></v-pagination>
                    <v-text-field :label="$t('goTo')" v-model="goTo"
                                  @input="handleGoTo"
                                  hide-details
                                  dense
                                  style="width:40px; font-size: 12px; margin-top: 6px;"
                    ></v-text-field>
                </div>
            </template>
        </v-data-table>
    </div>
</template>

<script>
  export default {
    name: "DataTable",
    props: {
      headers: {type: Array, default: []},
      items: {type: Array, default: []},
      total: {type: Number, default: 0},
      loading: {type: Boolean, default: false},
      hideHeaders: {type: Boolean, default: false},
      pagination: {
        type: Object,
        default: {
          itemsPerPage: 10,
          page: 1,
        }
      }
    },
    data() {
      return {
        optionsAsync: {},
        goTo: 1
      }
    },
    computed: {
      pages() {
        const {itemsPerPage} = this.optionsAsync;
        let totalItems = this.total;
        if (itemsPerPage == null || totalItems == null)
          return 0;

        return Math.ceil(
          totalItems / itemsPerPage
        );
      },
    },
    watch: {
      optionsAsync: {
        handler() {
          this.$emit('handleUpdatePagination', this.optionsAsync);
          this.goTo = parseInt(this.pagination.page);
        },
        deep: true,
      },
      'pagination.page'(nextValue) {
        this.goTo = parseInt(nextValue);
      },
    },
    methods: {
      handlePageChange(value) {
        this.$emit('handlePageChange', value);
      },
      handleGoTo(value) {
        const numberPattern = /\d+/g;
        let goTo = !!value ? value.toString().match(numberPattern) : null;

        if (!goTo) {
          this.goTo = 1;
        } else {
          if (parseInt(goTo[0]) >= this.pages) {
            this.goTo = this.pages;
          } else if (parseInt(goTo[0]) <= 1) {
            this.goTo = 1;
          }
        }
        this.handlePageChange(parseInt(this.goTo));
      }
    }
  }
</script>

<style scoped>

</style>