<template>
    <div class="description-list">
        <v-list class="pa-0 mx-4">
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-subtitle v-if="title">{{title}}</v-list-item-subtitle>
                    <v-list-item-title v-if="value">{{value}}</v-list-item-title>
                    <v-list-item-title v-else>
                        <slot name="value"></slot>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </div>
</template>

<script>
  export default {
    name: "DescriptionList",
    props: {
      title: {type: String, default: ''},
      value: {type: String, default: ''},
    }
  }
</script>

<style lang="scss" scoped>
    h4 {
        font-weight: normal;
    }

    .dl-text {
        line-height: 30px;
    }
</style>