<template>
    <div>
        <v-dialog v-model="dialog"
                  :max-width="width"
                  :persistent="persistent"
                  :hide-overlay="fullscreen"
                  :fullscreen="fullscreen || $vuetify.breakpoint.xsOnly"
                  :transition="dialogTransition">
            <v-card>
                <!--title with fullscreen-->
                <v-toolbar v-if="fullscreen || $vuetify.breakpoint.xsOnly" flat
                           :dense="denseToolbar"
                           class="dialog-toolbar" dark color="primary">
                    <v-btn large icon @click="close" class="ml-2">
                        <v-icon>close</v-icon>
                    </v-btn>
                    <!--<v-toolbar-title class="v-toolbar-dialog-title font-weight-bold">-->
                    <v-toolbar-title>
                        <span class="title font-weight-bold" style="padding: 8px 0 8px 0 !important;">{{title}}</span>
                        <div v-if="!!subtitle" class="caption">{{subtitle}}</div>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <slot name="actions"></slot>
                    </v-toolbar-items>
                    <!--tab bar-->
                    <template slot="extension">
                        <slot name="tab"></slot>
                    </template>
                </v-toolbar>
                <v-app-bar v-else class="primary" dark flat>
                    <v-toolbar-title class="title font-weight-bold" style="padding: 8px 0 8px 0 !important;">{{title}}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn :dark="!!type" icon @click="close" class="white&#45;&#45;text">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-app-bar>
                <!--content-->
                <v-card-text class="mt-2">
                    <slot name="content"></slot>
                </v-card-text>
                <!--divider for not fullscreen-->
<!--                <v-divider v-if="!fullscreen && !$vuetify.breakpoint.xsOnly && hasAction"></v-divider>-->
                <v-card-actions v-if="!fullscreen && !$vuetify.breakpoint.xsOnly && hasAction">
                    <v-spacer></v-spacer>
                    <slot name="actions"></slot>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
  export default {
    name: "DialogBox",
    props: {
      transition: {type: String, default: ''},
      persistent: {type: Boolean, default: false},
      fullscreen: {type: Boolean, default: false},
      denseToolbar: {type: Boolean, default: false},
      subtitle: {type: String, default: ''},
      visible: {type: Boolean, default: false},
      hasAction: {type: Boolean, default: true},
      title: {type: String, default: 'title'},
      type: {type: String, default: ''},
      width: {type: String, default: '500'}
    },
    data() {
      return {
        dialog: false
      }
    },
    computed: {
      dialogTransition() {
        if (!!this.transition) {
          return this.transition;
        }
        if (this.fullscreen || this.$vuetify.breakpoint.xsOnly)
          return 'dialog-bottom-transition';
        return 'slide-y-reverse-transition'
      }
    },
    watch: {
      visible(nextVal) {
        this.dialog = nextVal;
      },
      dialog(nextVal) {
        !nextVal ? this.$emit('close') : null;
      }
    },
    methods: {
      close() {
        this.$emit('close');
      }
    }
  }
</script>

<style scoped>

    .v-card__title {
        padding: 4px 4px 4px 18px !important;
    }

    .v-toolbar-dialog-title {
        line-height: 1;
        padding-top: 6px;
        padding-bottom: 10px
    }

    .dialog-title {
        font-size: 16px;
        font-weight: bold
    }
</style>