<template>
    <v-sheet role="alert" :class="`el-alert el-alert--${color} is-${align}`">
        <div class="el-alert__content">
            <span class="el-alert__title">
                <v-layout row justify-center align-center>
                <v-icon v-if="icon" :color="color" style="font-size: 19px;">{{icon}}</v-icon>
                <span>
                    {{text}}
                </span>
                </v-layout>
            </span>
        </div>
    </v-sheet>
</template>

<script>
  export default {
    name: "ElAlert",
    props: {
      text: {default: '', type: String},
      color: {default: 'info', type: String},
      align: {default: '', type: String},
      icon: {default: null, type: String}
    }
  }
</script>

<style scoped>
    .el-alert {
        width: 100%;
        padding: 8px 16px;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 6px;
        position: relative;
        /*background-color: #fff;*/
        overflow: hidden;
        opacity: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
    }

    .el-alert__content {
        display: table-cell;
        padding: 0 8px;
    }

    .el-alert.is-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .el-alert--info {
        /*background-color: #f1eff6;*/
        /*color: #6F7180;*/
        /*color: #4c417b;*/
    }

    .el-alert--warning {
        /*background-color: rgba(255, 243, 234, 0.3);*/
        color: #f38230;
    }
</style>