<template>
    <v-layout align-center justify-center column fill-height>
        <v-progress-circular indeterminate color="primary" :size="size" :width="width"></v-progress-circular>
    </v-layout>
</template>

<script>
  export default {
    name: "Loading",
    props: {
      text: {default: "Loading", type: String},
      loading: {default: false, type: Boolean},
      size: {default: 60, type: Number},
      width: {default: 4, type: Number}
    }
  }
</script>

<style>
    .loading .v-dialog--active,
    .loading .v-dialog {
        box-shadow: 0 0 !important;
    }

    .loading-text {
        padding-top: 30px;
        padding-bottom: 4px;
        font-size: 18px;
        line-height: 1;
        color: #ffffff;
    }
</style>