<template>
    <el-alert :text="$t('noData')" color="warning" align="center" class="mt-2" icon="info"></el-alert>
</template>

<script>
  import ElAlert from "./ElAlert";

  export default {
    name: "NoData",
    components: {ElAlert}
  }
</script>

<style scoped>

</style>