<template>
    <v-snackbar
            id="core-notification"
            :color="color"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            v-model="visible"
            :timeout="timeout"
            :multi-line="false"
    >
        <div class="subheading">{{text}}</div>
        <v-btn dark text @click="hideNotification">{{$t('close')}}</v-btn>
    </v-snackbar>
</template>

<script>
  import {mapState, mapMutations} from "vuex";

  export default {
    computed: {
      visible: {
        get: vm => vm.$store.state.core.notification.visible,
        set: function (newValue) {
          this.hideNotification();
        }
      },
      ...mapState({
        color: state => state.core.notification.color,
        bottom: state => state.core.notification.bottom,
        top: state => state.core.notification.top,
        left: state => state.core.notification.left,
        right: state => state.core.notification.right,
        timeout: state => state.core.notification.timeout,
        // visible: state => state.core.notification.visible,
        icon: state => state.core.notification.icon,
        text: state => state.core.notification.text
      })
    },
    methods: {
      ...mapMutations("core", ["setNotification"]),
      hideNotification() {
        const {color, bottom, top, left, right, icon, text} = this;
        this.setNotification({
          color: "success",
          bottom: false,
          top: true,
          left: false,
          right: true,
          visible: false,
          icon: "notifications",
          text: "",
          timeout: 3000
        });
      }
    }
  };
</script>

<style>
    /*snackbar*/
    /*.v-snack .v-snack__content {*/
    /*    padding: 15px 15px;*/
    /*    height: auto;*/
    /*}*/

    /*.v-snack__content {*/
    /*    justify-content: space-between;*/
    /*}*/

    /*.v-snack .v-icon:first-child {*/
    /*    font-size: 33px;*/
    /*}*/

    /*.v-snack .v-icon:not(:first-child) {*/
    /*    color: rgba(255, 255, 255, 0.5)*/
    /*}*/
</style>
