<template>
    <v-card class="pa-2 my-2" light>
        <div class="no-print">
            <div v-if="currentDateTime">
                <span style="font-size: 10px; position: absolute">Date: {{currentDateTime}}</span>
            </div>
            <div class="center report-header">
                <slot name="header"></slot>
            </div>
            <div class="center report-content">
                <slot name="content"></slot>
            </div>
            <div class="center report-footer">
                <slot name="footer"></slot>
            </div>
        </div>
    </v-card>
</template>

<script>
  export default {
    name: "ReportPaper",
    props: ["currentDateTime"]
  }
</script>

<style lang="scss" scoped>
    .no-print {
        zoom: 140%;
    }
</style>