<template>
    <div class="header-container">
        <div class="institute">
            <img src="/images/logo.png" width="80" height="80">
            <p class="rpt-title">{{ministry}}ក្រសួងសេដ្ឋកិច្ច និងហិរញ្ញវត្ថុ</p>
            <p class="rpt-subtitle">{{institute}}មន្ទីរសេដ្ឋកិច្ច និងហិរញ្ញវត្ថុខេត្តពោធិ៍សាត់</p>
            <p class="symbol">4</p>
        </div>
        <div class="country">
            <p class="rpt-title">ព្រះរាជាណាចក្រកម្ពុជា</p>
            <p class="rpt-subtitle">ជាតិ សាសនា ព្រះមហាក្សត្រ</p>
            <p class="symbol">3</p>
        </div>
    </div>
</template>

<script>
  export default {
    name: "ReportHeader",
    props: ["ministry", 'institute', ]
  }
</script>

<style scoped>

</style>