<template>
    <v-btn @click="$emit('resetForm')"
           text
           :disabled="disabled"
           :large="$vuetify.breakpoint.xsOnly"
           :icon="$vuetify.breakpoint.xsOnly">
        <v-icon :left="!$vuetify.breakpoint.xsOnly">refresh</v-icon>
        <span v-show="!$vuetify.breakpoint.xsOnly" class="font-weight-bold">{{$t('reset')}}</span>
    </v-btn>
</template>

<script>
  export default {
    name: "ResetButton",
    props: ["disabled"]
  }
</script>

<style scoped>

</style>