<template>
    <v-skeleton-loader
            :loading="loading"
            :boilerplate="boilerplate"
            :type="type"
            :tile="tile"
            class="mx-auto"
            :transition="transition"
    >
        <slot name="child" v-if="child"></slot>
    </v-skeleton-loader>
</template>

<script>
  export default {
    name: "SkeletonLoader",
    props: {
      transition: {type: String, default: 'fade-transition'},
      boilerplate: {type: Boolean, default: false},
      child: {type: Boolean, default: false},
      tile: {type: Boolean, default: false},
      loading: {type: Boolean, default: false},
      type: {default: 'table', type: String},
    }
  }
</script>

<style>
</style>