<template>
    <div>
        <v-snackbar
                v-model="snackbar"
                :bottom="y === 'bottom'"
                :left="x === 'left'"
                :right="x === 'right'"
                :timeout="timeout"
                :color="color"
                :top="y === 'top'"
                :vertical="mode === 'vertical'"
                multi-line
        >
            {{ text }}
            <slot name="text" v-if="!text"></slot>
            <v-btn flat @click="snackbar = false" dark>
                {{$t(closeText)}}
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
  export default {
    name: "Snackbar",
    props: {
      visible: {type: Boolean, default: false},
      x: {type: String, default: null},
      y: {type: String, default: 'top'},
      closeText: {type: String, default: 'close'},
      text: {type: String, default: ''},
      mode: {type: String, default: ''},
      color: {type: String, default: 'success'},
      timeout: {type: Number, default: 3500}
    },
    data() {
      return {snackbar: false}
    },
    watch: {
      visible(nextVal) {
        this.snackbar = nextVal;
      },
      snackbar(nextVal) {
        !nextVal ? this.$emit('close') : null;
      }
    },
  }
</script>

<style scoped>
</style>