<template>
    <v-btn @click="$emit('submitForm')"
           :color="color ? color: $vuetify.breakpoint.xsOnly?'':'primary'"
           :disabled="!valid"
           text
           :large="$vuetify.breakpoint.xsOnly"
           :icon="$vuetify.breakpoint.xsOnly"
           :loading="loading">
        <v-icon :left="!$vuetify.breakpoint.xsOnly">check</v-icon>
        <span v-show="!$vuetify.breakpoint.xsOnly" class="font-weight-bold">{{$t('save')}}</span>
    </v-btn>
</template>

<script>
  export default {
    name: "SubmitButton",
    props: ["valid", "loading", "color"],
  }
</script>

<style scoped>

</style>