<template>
    <div id="particles-js"></div>
</template>
<script>
  import '../../libs/particles';

  export default {
    name: 'vue-particles',
    created() {
      this.$nextTick(() => {
        this.initParticlesJS()
      })
    },
    methods: {
      initParticlesJS() {
        particlesJS('particles-js', {
            "particles": {
              "number": {
                "value": 27,
                "density": {
                  "enable": true,
                  "value_area": 868.0624057955
                }
              },
              "color": {
                "value": ["#2580fa","#258d42","#d6322d","#f87b2b","#9596fb"]
              },
              "shape": {
                "type": "circle",
                "stroke": {
                  "width": 0,
                  "color": "#000000"
                },
                "polygon": {
                  "nb_sides": 4
                },
                "image": {
                  "src": "img/github.svg",
                  "width": 100,
                  "height": 100
                }
              },
              "opacity": {
                "value": 0.8,
                "random": false,
                "anim": {
                  "enable": true,
                  "speed": 4,
                  "opacity_min": 0.1,
                  "sync": false
                }
              },
              "size": {
                "value": 7,
                "random": true,
                "anim": {
                  "enable": false,
                  "speed": 40,
                  "size_min": 0.1,
                  "sync": false
                }
              },
              "line_linked": {
                "enable": true,
                "distance": 220.96133965703635,
                "color": "#c8c8c8",
                "opacity": 0.4,
                "width": 1
              },
              "move": {
                "enable": true,
                "speed": 3,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                  "enable": false,
                  "rotateX": 600,
                  "rotateY": 1200
                }
              }
            },
            "interactivity": {
              "detect_on": "canvas",
              "events": {
                "onhover": {
                  "enable": false,
                  "mode": "repulse"
                },
                "onclick": {
                  "enable": false,
                  "mode": "repulse"
                },
                "resize": true
              },
              "modes": {
                "grab": {
                  "distance": 400,
                  "line_linked": {
                    "opacity": 1
                  }
                },
                "bubble": {
                  "distance": 400,
                  "size": 40,
                  "duration": 2,
                  "opacity": 10,
                  "speed": 3
                },
                "repulse": {
                  "distance": 200,
                  "duration": 0.4
                },
                "push": {
                  "particles_nb": 4
                },
                "remove": {
                  "particles_nb": 2
                }
              }
            },
            "retina_detect": true
          }
        );
      }

    }
  }
</script>

<style>
    #particles-js {
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: absolute;
        /*z-index: -1;*/
    }
</style>