<template>
    <div>
        <v-tabs-items v-model="currentTab">
            <v-tab-item>
                <user></user>
            </v-tab-item>
<!--            <v-tab-item v-if="currentUser.username==='super'">-->
<!--                <v-card outlined>-->
<!--                    <import-file></import-file>-->
<!--                </v-card>-->
<!--            </v-tab-item>-->
        </v-tabs-items>
    </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import User from './User/User';
  import ImportFile from "./ImportFile/ImportFile";

  export default {
    name: "Setting",
    components: {ImportFile, User},
    computed: {
      ...mapState({
        currentTab: ({core}) => core.toolbarTab.currentTab,
        currentUser: (state) => state.currentUser,
      })
    },
    methods: {
      ...mapActions(["core/mountToolbarTab"]),
    },
    created() {
      if (this.currentUser.username === 'super') {
        this['core/mountToolbarTab']({
          items: ['users']
        });
      } else {
        this['core/mountToolbarTab']({
          items: ['users']
        });
      }
    },
    destroyed() {
      this['core/mountToolbarTab']({
        items: [], currentTab: 0
      });
    }
  }
</script>

<style scoped>

</style>