<template>
    <v-navigation-drawer v-model="visible" fixed app :class="`${theme}`" width="250">
        <v-card flat style="width: 100%;  border-radius: 0 !important;" color="transparent">
            <v-layout column align-center justify-center class="px-3">
                <img src="/images/logo.png" style="height: 100px; width: auto" alt="logo" class="my-3"/>
                <h1 class="headline font-weight-bold mt-1 center primary--text"
                    style="font-size: 18px!important; line-height: 1.7!important;">
                    {{$t('instituteFullName')}}
                </h1>

                <v-chip @click="$emit('moduleSelector')"
                        text-color="primary"
                        class="center font-weight-bold mt-3"
                        style=" cursor: pointer">
                    {{moduleFormatter(currentModule)}}
                </v-chip>
            </v-layout>
        </v-card>
        <!--menu1-->
        <v-list dense nav style="padding: 8px 8px 0 8px">
            <v-list-item-group color="primary">
                <v-list-item @click="" v-for="(item, index) in menuItems" :key="item.title" :to="item.to"
                             v-if="item.hasRole()">
                    <v-list-item-icon>
                        <v-icon v-text="item.icon"></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title class="font-weight-bold" v-text="$t(item.title)"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-item-group>
        </v-list>
        <!--report-->
        <v-divider class="ma-1" v-if="checkRole(['admin']) && reportMenuItems.length > 0"></v-divider>
        <v-list dense nav v-if="checkRole(['admin']) && reportMenuItems.length > 0" style="padding: 0 8px 0 8px">
            <v-list-group v-for="item in reportMenuItems" :key="item.title" v-model="item.active"
                          :prepend-icon="item.icon">
                <template slot="activator">
                    <v-list-item-content>
                        <v-list-item-title class="font-weight-bold" v-text="$t(item.title)"></v-list-item-title>
                    </v-list-item-content>
                </template>

                <v-list-item
                        v-for="subItem in item.items"
                        :key="subItem.title"
                        @click=""
                        v-if="subItem.hasRole()"
                        :to="subItem.to"
                >
                    <v-list-item-icon>
                        <v-icon>{{subItem.icon}}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title class="font-weight-bold" v-text="$t(subItem.title)"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-group>
        </v-list>
        <!--setting-->
        <v-divider class="ma-1" v-if="checkRole(['admin']) && settingMenuItems.length > 0"></v-divider>
        <v-list dense nav v-if="checkRole(['admin']) && settingMenuItems.length > 0" style="padding: 0 8px 0 8px">
            <v-list-group v-for="item in settingMenuItems" :key="item.title" v-model="item.active"
                          :prepend-icon="item.icon">
                <template slot="activator">
                    <v-list-item-content>
                        <v-list-item-title class="font-weight-bold" v-text="$t(item.title)"></v-list-item-title>
                    </v-list-item-content>
                </template>

                <v-list-item
                        v-for="subItem in item.items"
                        :key="subItem.title"
                        @click=""
                        v-if="subItem.hasRole()"
                        :to="subItem.to"
                >
                    <v-list-item-icon>
                        <v-icon>{{subItem.icon}}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title class="font-weight-bold" v-text="$t(subItem.title)"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-group>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
  import {CheckRoles} from "../../libs/checkRoles";
  import {sites, provinces} from "../../rawData";

  export default {
    name: "Drawer",
    props: ['drawer'],
    data() {
      return {
        visible: null,
        menuItems: [
          {
            icon: 'home',
            title: 'home',
            to: '/',
            hasRole: () => this.checkRole(['read', 'admin'])
          },
          {
            icon: 'assignment',
            title: 'student',
            to: '/sam_student',
            hasRole: () => this.checkRole(['read', 'admin'])
          },
        ],
        reportMenuItems: [
          {
            icon: 'description',
            title: 'report',
            active: false,
            items: [
              {
                title: 'report' + 1,
                to: '/sam_report1',
                icon: 'chevron_right',
                hasRole: () => this.checkRole(['admin'])
              },
              {
                title: 'report' + 2,
                to: '/sam_report2',
                icon: 'chevron_right',
                hasRole: () => this.checkRole(['admin'])
              },
              {
                title: 'report' + 3,
                to: '/sam_report3',
                icon: 'chevron_right',
                hasRole: () => this.checkRole(['report'])
              }
            ]
          },
        ],
        settingMenuItems: [
          {
            icon: 'settings',
            title: 'settings',
            active: false,
            items: [
              {
                title: 'settings' + 1,
                to: '/sam_setting1',
                icon: 'chevron_right',
                hasRole: () => this.checkRole(['admin'])
              },
              {
                title: 'settings' + 2,
                to: '/sam_setting2',
                icon: 'chevron_right',
                hasRole: () => this.checkRole(['admin'])
              },
              {
                title: 'settings' + 3,
                to: '/sam_setting3',
                icon: 'chevron_right',
                hasRole: () => this.checkRole(['setting'])
              }
            ]
          },
        ]
      }
    },
    computed: {
      currentUser: {
        get: vm => vm.$store.state.currentUser,
        set: function (newValue) {
          return newValue;
        }
      },
      currentModule() {
        return this.$store.state.currentModule;
      },
      theme() {
        // if (this.$vuetify.breakpoint.mdAndDown) {
        if (this.$vuetify.dark) {
          return 'theme--dark';
        } else {
          return 'theme--light';
        }
        // } else {
        //   return 'transparent';
        // }
      },
    },
    watch: {
      drawer(nextVal) {
        this.visible = nextVal;
      },
      visible(nextVal) {
        this.$emit('getDrawerState', nextVal);
      }
    },
    methods: {
      checkRole(roles) {
        return CheckRoles({roles, module: this.currentModule})
      },
      moduleFormatter(m) {
        if (!!m) {
          if (m.length === 2) {
            return provinces.filter((o => o.code === m))[0].name;
          } else if (m.length === 4) {
            return sites.filter((o => o.code === m))[0].name;
          }
          return m.toUpperCase();
        }
      }
      // translateModuleName(module) {
      //   return !!Constants.modulesOptions[module] ? Constants.modulesOptions[module].label : '';
      // }
    }
  }
</script>

<style scoped>

    .drawer.v-navigation-drawer .v-list {
        background: transparent;
    }
</style>