<template>
    <v-content>
        <v-container fluid>
            <v-fade-transition mode="out-in">
                <router-view/>
            </v-fade-transition>
        </v-container>
        <v-footer class="pa-2 pr-3" app inset>
            <v-spacer></v-spacer>
            <div style="font-size: 15px">{{$t('copyright')}} <span
                    style="font-family: 'Roboto', sans-serif !important;">&copy;</span> {{year}}
                {{$t('instituteName')}}
            </div>
            <v-menu max-height="500" top
                    :nudge-top="10"
                    offset-y transition="slide-y-reverse-transition" :nudge-width="150"
                    v-if="userStatus.length>0 && checkRole(['admin'])">
                <template slot="activator" slot-scope="{on}">
                    <v-btn v-on="on" small text class="mx-0 success--text ml-1">
                        online: {{userStatus.length}}
                    </v-btn>
                </template>
                <loading v-if="!$subReady.userStatus" :size="30" :width="3" class="pa-2"></loading>
                <v-list two-line dense v-else>
                    <v-list-item v-for="(item, index) in userStatus" :key="index">
                        <v-list-item-content>
                            <v-list-item-title>{{item.username}}</v-list-item-title>
                            <v-list-item-subtitle>
                                {{ !!item.status && !!item.status.lastLogin?item.status.lastLogin.ipAddr:'' }}
                            </v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-list-item-action-text
                                    :class="!!item.status && !!item.status.online ? 'success--text': ''">
                                {{!!item.status && !!item.status.online ? 'Online': 'Offline'}}
                            </v-list-item-action-text>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-footer>
        <back-to-top></back-to-top>
    </v-content>
</template>

<script>
  import BackToTop from '../components/BackToTop';
  import Loading from "../components/Loading";
  import moment from "moment";
  import {CheckRoles} from "../../libs/checkRoles";

  export default {
    components: {Loading, BackToTop},
    name: "PageView",
    data() {
      return {
        year: new Date().getFullYear(),
        currentUser: this.$store.state.currentUser,
        currentModule: this.$store.state.currentModule,
      }
    },
    methods: {
      dateFormatter(date) {
        return !!date ? moment(date).format('DD-MM-YYYY') : '';
      },
      checkRole(roles) {
        return CheckRoles({roles, module: this.currentModule})
      },
    },
    meteor: {
      $subscribe: {
        'userStatus': []
      },
      userStatus() {
        if (Meteor.userId()) {
          return Meteor.users.find({}).fetch().filter(o => o.username !== 'super');
        }
      },
    }
  }
</script>

<style scoped>

</style>