<template>
    <v-app-bar app fixed elevate-on-scroll clipped-right>
        <v-toolbar-title class="mr-3">
            <v-btn large icon @click="toggleDrawer">
                <v-icon>menu</v-icon>
            </v-btn>
            <span class="headline font-weight-bold">{{pageTitle}}</span>
        </v-toolbar-title>
        <template slot="extension" v-if="tabItems.length>0">
            <v-tabs :value="currentTab"
                    :align-with-title="$vuetify.breakpoint.smAndUp" @change="handleTabChange">
                <v-tabs-slider color="primary"></v-tabs-slider>
                <v-tab v-for="(item, index) in tabItems" :key="index">
                    {{ $t(item) }}
                </v-tab>
                <!--                <v-spacer></v-spacer>-->
                <!--                <v-btn color="primary" text @click="downloadForWindows" v-if="checkRole(['super'])">-->
                <!--                    <v-icon left>mdi-windows</v-icon>-->
                <!--                    {{this.$t('databaseTool')}}-->
                <!--                </v-btn>-->
            </v-tabs>
        </template>
        <v-spacer></v-spacer>
        <!--toolbar-icon-->
        <v-badge color="warning" overlap>
            <template slot="badge">
                <span>4</span>
            </template>
            <v-icon>mdi-email</v-icon>
        </v-badge>
        <v-btn icon text>
            <v-icon>apps</v-icon>
        </v-btn>
        <v-divider vertical class="mx-3" inset></v-divider>
        <v-menu offset-y :min-width="210">
            <template slot="activator" slot-scope="{ on }">
                <v-btn fab text small v-on="on">
                    <v-avatar size="36px">
                        <v-img :src="imageUrl" :lazy-src="imageUrl" alt="user"></v-img>
                    </v-avatar>
                </v-btn>
            </template>
            <v-list dense>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="title">{{!!currentUser? currentUser.profile.fullName:''}}
                        </v-list-item-title>
                        <v-list-item-subtitle>{{!!currentUser? currentUser.emails[0].address:''}}
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>
                <v-list-item @click="handleUpdateProfile(currentUser)">
                    <v-list-item-icon>
                        <v-icon>edit</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>{{ $t('edit')}}</v-list-item-title>
                </v-list-item>
                <v-list-item @click="logout">
                    <v-list-item-icon>
                        <v-icon>exit_to_app</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>{{$t('logout')}}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>

        <v-menu offset-y :min-width="180">
            <template slot="activator" slot-scope="{ on }">
                <v-btn icon text v-on="on">
                    <v-icon>more_vert</v-icon>
                </v-btn>
            </template>
            <v-list dense>
                <v-list-item @click="toggleLanguage">
                    <v-list-item-icon style="align-items: center;">
                        <img alt="lang" :src="currentLanguage==='km' ? '/images/km.png': '/images/us.png'"
                             style="height: 14px"/>
                    </v-list-item-icon>
                    <v-list-item-title>{{currentLanguage==='km'? $t('khmer') : $t('english') }}</v-list-item-title>
                </v-list-item>
                <v-list-item @click="toggleDark">
                    <v-list-item-icon>
                        <v-icon>{{isDark ? 'mdi-weather-night': 'mdi-weather-sunny'}}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>{{$t('color')}}</v-list-item-title>
                </v-list-item>
                <v-divider v-if="checkRole(['super', 'admin'])"></v-divider>
                <v-list-item to="/core_setting" v-if="checkRole(['super', 'admin'])">
                    <v-list-item-icon>
                        <v-icon>settings</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>{{ $t('settings')}}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>

        <profile-update :dialog-visible="profileUpdateVisible"
                        :current-row="currentRow"
                        @reset="currentRow={}"
                        @close="profileUpdateVisible=false"/>
    </v-app-bar>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import {CheckRoles} from "../../libs/checkRoles";
  import moment from "moment";
  import {toKhNumber} from "../../libs/toKh";
  import ProfileUpdate from "../pages/Setting/User/ProfileUpdate";

  export default {
    name: "Toolbar",
    components: {ProfileUpdate},
    metaInfo() {
      return {
        title: this.pageTitle,
        titleTemplate: `%s-${this.$t('instituteName')}`,
      }
    },
    data() {
      return {
        currentUser: this.$store.state.currentUser,
        currentModule: this.$store.state.currentModule,
        imageUrl: '/images/avatar.png',
        profileUpdateVisible: false,
        currentRow: {},
      }
    },
    computed: {
      pageTitle() {
        let title = this.$t('noTitle');
        title = this.$route.meta.pageTitle
          ? this.$t(this.$route.meta.pageTitle)
          : this.$route.name ? _.startCase(this.$route.name) : title;
        return title;
      },
      ...mapState({
        tabItems: ({core}) => core.toolbarTab.items,
        currentTab: ({core}) => core.toolbarTab.currentTab
      }),
      currentLanguage() {
        return this.$store.state.core.currentLocale;
      },
      isDark() {
        return this.$store.state.core.isDark;
      }
    },
    methods: {
      ...mapActions(['updateUser', 'core/mountToolbarTab', "core/changeLocale",]),
      handleUpdateProfile(row) {
        this.currentRow = Object.assign({}, row);
        this.profileUpdateVisible = true;
      },
      toggleLanguage() {
        let {profile} = Meteor.user();
        profile.language = this.$store.state.core.currentLocale === 'en' ? 'km' : 'en';
        //
        Meteor.call('core_updateUser', {
          userId: this.currentUser._id,
          module: this.currentModule,
          selector: {_id: this.currentUser._id},
          updateDoc: {profile}
        }, (err, res) => {
          if (!err) {
            this.updateUser(Meteor.user());
            this["core/changeLocale"](profile.language);
          } else {
            console.log(err.message)
          }
        });
      },
      toggleDark() {
        let {profile} = Meteor.user();
        profile.isDark = !this.$store.state.core.isDark;
        //
        Meteor.call('core_updateUser', {
          userId: this.currentUser._id,
          module: this.currentModule,
          selector: {_id: this.currentUser._id},
          updateDoc: {profile}
        }, (err, res) => {
          if (!err) {
            this.updateUser(Meteor.user());
            this.$store.dispatch('core/changeTheme', profile.isDark);
          } else {
            console.log(err.message)
          }
        });
      },
      logout() {
        this.$store.dispatch("logout");
      },
      toggleDrawer() {
        this.$emit('toggleDrawer');
      },
      dateFormatter(date) {
        return !!date ? moment(date).format('DD-MM-YYYY') : '';
      },
      ...mapActions(['updateUser', 'core/mountToolbarTab', "core/changeLocale",]),
      handleTabChange(tab) {
        this['core/mountToolbarTab']({currentTab: tab});
      },
      checkRole(roles) {
        return CheckRoles({roles, module: this.currentModule})
      },
      downloadForWindows() {
        window.open("http://tny.sh/db-tool", "_blank");
      }
    },
  }
</script>

<style scoped>
    .toolbar-icon {
        font-size: 29px
    }
</style>