<template>
    <v-app id="inspire" :dark="isDark">
        <v-offline @detected-condition="internetStatus"></v-offline>
        <vue-ins-progress-bar></vue-ins-progress-bar>
        <notification/>
        <loading/>
        <!--meteor status-->
        <v-layout class="meteor-status" v-show="!loading" justify-center align-center>
            <v-flex xs12 md12>
                <v-banner sticky mobile-break-point="100" :class="alert.color" :value="alert.visible">
                    <v-progress-circular indeterminate color="white"></v-progress-circular>
                    <span class="ml-2 white--text">{{alert.text}}</span>
                    <template slot="actions">
                        <v-btn text @click="reconnect" class="mb-1 white--text">
                            {{$t('retry')}}
                        </v-btn>
                    </template>
                </v-banner>
            </v-flex>
        </v-layout>
        <v-layout class="app-background" align-center justify-center row fill-height
                  v-if="currentUser && !checkRoles() && !loading">
            <!--            module-->
            <module v-if="!currentModule" :user="currentUser" @onModuleSelected="onModuleSelected"/>
            <!--            unAuthenticate-->
            <un-authenticate v-else/>
        </v-layout>
        <!--app-->
        <div v-if="currentModule && !loading &&currentUser&& checkRoles()">
            <drawer :drawer="drawer" @getDrawerState="getDrawerState" @moduleSelector="moduleSelector"></drawer>
            <toolbar @toggleDrawer="toggleDrawer"></toolbar>
            <page-view></page-view>
        </div>
        <!--auth-->
        <auth v-show="!loading" v-if="!currentUser"></auth>
    </v-app>
</template>
<script>
  import VOffline from 'v-offline';
  import {mapActions, mapState} from 'vuex';
  import Notification from './components/Notification';
  import Loading from './components/AppLoading';
  import Drawer from './layouts/Drawer';
  import Toolbar from './layouts/Toolbar';
  import PageView from './layouts/PageView';
  import Auth from './auth/Auth';
  import UnAuthenticate from './pages/UnAuthenticate';
  import {toKhNumber} from "../libs/toKh";
  import {CheckRoles} from "../libs/checkRoles";
  import Module from "./pages/Module";

  export default {
    components: {
      Module,
      Auth,
      Drawer,
      Toolbar,
      PageView,
      Loading,
      Notification,
      UnAuthenticate,
      VOffline
    },
    data: () => ({
      drawer: null,
      alert: {
        visible: false,
        text: ''
      }
    }),
    computed: {
      currentUser() {
        setTimeout(() => {
          this.showLoading(false);
        }, 800);
        return this.$store.state.currentUser;
      },
      currentModule() {
        return this.$store.state.currentModule;
      },
      currentLocale() {
        let locale = this.$store.state.core.currentLocale;
        let $el = document.getElementById('inspire');
        if (locale === 'km') {
          !!$el ? $el.classList.add('kh-regular') : null;
        } else {
          !!$el ? $el.classList.remove('kh-regular') : null;
        }
        return locale;
      },
      isDark() {
        if (!!this.currentUser) {
          this.$vuetify.theme.dark = !!this.currentUser.profile.isDark;
        }
        return this.$vuetify.theme.dark = this.$store.state.core.isDark;
      },
      ...mapState({
        loading: ({core}) => core.loading.visible,
      }),
    },
    methods: {
      ...mapActions(['updateUser', 'core/showLoading', 'updateModule', 'core/changeTheme', 'core/changeLocale']),
      toggleDrawer() {
        this.drawer = !this.drawer;
      },
      getDrawerState(value) {
        this.drawer = value;
      },
      showLoading(visible, text) {
        this["core/showLoading"]({visible, text});
      },
      checkRoles() {
        const {currentModule: module} = this;
        return CheckRoles({roles: ["super", "admin", "read"], module});
      },
      internetStatus(e) {
        // console.log(e);//true == online
      },
      moduleSelector() {
        // this.updateModule(null);
        // this.$router.replace('/');
      },
      onModuleSelected(val) {
        this.$router.replace('/');
        this.updateModule(val);
      },
      reconnect() {
        Meteor.reconnect();
      }
    },
    watch: {
      currentLocale(val) {
      }
    },
    meteor: {
      status() {
        const status = Meteor.status();
        this.connected = status.connected;
        if (!status.connected) {
          let retry = Math.round((status.retryTime - (new Date()).getTime()) / 1000);
          switch (status.status) {
            case   'connecting':
              this.alert = {
                text: this.$t('connectingPleaseWait'),
                visible: true,
                color: 'warning'
              };
              break;
            case   'connected':
              this.alert = {
                text: this.$t('connected'),
                visible: false,
                color: 'success'
              };
              break;
            case   'disconnected':
              this.alert = {
                text: this.$t('disconnected'),
                visible: true,
                color: 'error'
              };
              break;
            case   'waiting':
              this.alert = {
                text: `${this.$t('serverHasBeenDisconnected')} ${this.$t('tryToConnect')} ${retry} ${this.$t('seconds')}`,
                visible: true,
                color: 'error'
              };
              break;
            case   'retry':
              this.alert = {
                text: this.$t('retry'),
                visible: true,
                color: 'error'
              };
              break;
            default :
              this.alert = {
                text: '',
                visible: false,
              };
              break;
          }
        } else {
          this.alert = {
            text: this.$t('serverHasBeenConnected'),
            visible: false,
          };
        }
      },
      meteorUser() {
        if (!Meteor.userId()) {
          this.updateUser(Meteor.user());
        }
      },
    },
    created() {
      this.$insProgress.start();

      this.$router.beforeEach((to, from, next) => {
        this.$insProgress.start();
        next()
      });
      this.$router.afterEach((to, from) => {
        this.$insProgress.finish();
      });

      setTimeout(() => {
        this.updateUser(Meteor.user());
        if (Meteor.user()) {
          this["core/changeTheme"](!!Meteor.user().profile.isDark);
          this["core/changeLocale"](Meteor.user().profile.language || 'en');
          this.updateModule(Meteor.user().profile.modules[0]);
        }
      }, 800);
    },
    mounted() {
      this.$insProgress.finish();
      this.showLoading(true);
    }
  }
</script>

<style>
    .meteor-status {
        width: 100%;
        position: fixed;
        z-index: 205;
        /*bottom: 0;*/
    }

    #inspire {
        /*background: white !important;*/
    }

    .headline, .title, .subheading, .caption {
        font-family: Roboto, sans-serif, 'Kh-Battambang' !important;
    }
</style>