<template>
    <v-layout class="auth-background" align-center justify-center row fill-height>
        <v-layout align-center justify-center row fill-height>
            <v-card class="card px-1" style="border-radius: 10px !important; width: 300px" outlined>
                <v-card-title class="py-2 px-2">
                    <v-layout column align-center justify-center class="mb-2">
                        <img src="/images/logo.png" style="height: 130px; width: auto;" class="mb-4 mt-2" alt="logo"/>
                        <div class="headline font-weight-bold center primary--text"
                             style="line-height: 46px!important;">
                            {{ $t("instituteFullName") }}
                        </div>
                        <v-chip class="title font-weight-bold mt-3" style="font-size: 17px;"
                                text-color="primary">
                            {{ $t("appName") }}
                        </v-chip>
                    </v-layout>
                </v-card-title>

                <v-card-text style="padding: 4px 8px 10px 8px">
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-text-field
                                clearable
                                validate-on-blur
                                prepend-inner-icon="person"
                                v-model="formData.username"
                                :rules="rules.username"
                                :label="$t('username')"
                                filled
                                rounded
                                dense
                        ></v-text-field>
                        <v-text-field
                                clearable
                                validate-on-blur
                                prepend-inner-icon="lock"
                                type="password"
                                current-password
                                v-model="formData.password"
                                :rules="rules.password"
                                :label="$t('password')"
                                filled
                                rounded
                                dense
                        ></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn v-shortkey="['enter']" @shortkey="submitForm" block
                           rounded
                           :disabled="!valid" @click="submitForm" color="primary"
                           :loading="loading">
                        <v-icon left>arrow_forward</v-icon>
                        {{$t("login")}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-layout>
        <v-footer app>
            <v-spacer></v-spacer>
            <v-btn @click="toggleDark" text>
                <v-icon>invert_colors</v-icon>
                {{$t('color')}}
            </v-btn>
            <v-btn @click="toggleLanguage" text>
                <img alt="lang" :src="currentLanguage==='km' ? '/images/km.png': '/images/us.png'"
                     style="height: 14px; padding-right: 5px"/>
                {{currentLanguage==='km'? $t('khmer') : $t('english') }}
            </v-btn>
        </v-footer>
    </v-layout>
</template>

<script>
  import {mapActions} from "vuex";

  export default {
    metaInfo() {
      return {
        title: this.$t('login'),
        titleTemplate: ``,
      }
    },
    data() {
      return {
        background: false,
        valid: false,
        loading: false,
        formData: {
          username: "",
          password: ""
        },
        rules: {
          username: [v => !!v || this.$t('usernameIsRequired')],
          password: [v => !!v || this.$t('passwordIsRequired')]
        }
      };
    },
    methods: {
      ...mapActions(["updateUser", "updateModule", "core/showNotification", "core/showLoading", "core/changeLocale", "core/changeTheme"]),
      submitForm() {
        const {username, password} = this.formData;
        if (this.$refs.form.validate()) {
          this.loading = true;
          setTimeout(() => {
            Meteor.loginWithPassword(username, password, error => {
              if (error) {
                this["core/showNotification"]({
                  visible: true,
                  icon: "mdi-close-circle",
                  right: false,
                  left: false,
                  bottom: true,
                  top: false,
                  color: "red",
                  timeout: 3000,
                  text: error.reason
                });
              } else {
                this["core/showLoading"]({visible: true});
                setTimeout(() => {
                  this.updateUserWithCurrentProfile();
                }, 500);
              }
              this.loading = false;
            });
          }, 500);
        }
      },
      toggleLanguage() {
        const language = this.$store.state.core.currentLocale === 'en' ? 'km' : 'en';
        this["core/changeLocale"](language);
      },
      toggleDark() {
        const isDark = !this.$store.state.core.isDark;
        this["core/changeTheme"](isDark);
      },
      updateUserWithCurrentProfile() {
        let {profile, _id: userId} = Meteor.user();
        profile.language = this.$store.state.core.currentLocale || 'en';
        profile.isDark = !!this.$store.state.core.isDark;
        //
        Meteor.call('core_updateUser', {
          userId: userId,
          module: profile.modules[0],
          selector: {_id: userId},
          updateDoc: {profile}
        }, (err, res) => {
          if (err) {
            console.log(err.message)
          } else {
            this.updateUser(Meteor.user());
            if (this.$router.history.current.path !== '/') {
              this.$router.replace('/');
            }
            this.updateModule(Meteor.user().profile.modules[0]);
            this["core/showLoading"]({visible: false});
          }
        });
      }
    },
    computed: {
      currentLanguage() {
        return this.$store.state.core.currentLocale;
      }
    }
  };
</script>

<style scoped>
    .card {
        padding: 10px 40px 10px 40px;
    }

    /*.auth-background {*/
    /*    background-color: #3d3d3d;*/
    /*}*/
</style>