.v-toaster {
    font-family: "Khmer MEF1", "Mef1";
    line-height: 26px;
    font-weight: bold;
    font-size: 16px;
    width: 320px;
}

.v-toast {
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12) !important;
}

.v-toast:before {
    font-family: 'Material Icons';
    /*padding: 2px;*/
    /*background: #ffffff;*/
    color: white;
    /*border-radius: 50%;*/
    margin-right: 6px;
}

.v-toast-success:before {
    content: "check";
    /*color: #258d42*/
}

.v-toast-error:before {
    content: "close";
    /*color: #d6322d*/
}

.v-toast-warning:before {
    content: "warning";
    /*color: #f87b2b*/
}

.v-toast-info:before {
    content: "info";
    /*color: #039BE5*/
}

.v-toast-btn-clear {
    margin-left: 13px;
    height: 49px;
}

.v-toast-enter {
    opacity: 1 !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    transition: transform .1s;
}

.v-toast-leave-active {
    opacity: 0;
    /*transform: scale(0);*/
}

.v-toast-leave-to {
    -webkit-transform: translate(0%) !important;
    transform: translate(0%) !important;
}

.v-toaster .v-toast.v-toast-success {
    border-width: 0;
}

.v-toaster .v-toast.v-toast-error {
    border-width: 0;
}

.v-toaster .v-toast.v-toast-warning {
    border-width: 0;
}

.v-toaster .v-toast.v-toast-info {
    border-width: 0;
}