<template>
    <div>
        <dialog-box :title="$t('edit')+' '+$t('user')" :visible="dialogVisible" @close="handleClose" width="340">
            <template slot="content">
                <v-layout row align-center justify-center class="mx-3" v-show="!!progress">
                    <v-flex xs12>
                        <v-progress-linear :value="progress" :active="!!progress"></v-progress-linear>
                    </v-flex>
                    <span class="font-weight-bold pl-2 subheading">{{progress}}%</span>
                </v-layout>

                <v-layout row align-center justify-center class="mb-3">
                    <v-hover>
                        <v-avatar size="130px" slot-scope="{hover}" class="blue lighten-5">
                            <v-img v-if="imageUrl" alt="user"
                                   :src="fileData || imageUrl" style="height: 130px; width: auto">
                                <v-expand-transition>
                                    <v-layout v-if="false"
                                              justify-center align-center
                                              class="transition-fast-in-fast-out orange darken-2"
                                              style="height: 100%; opacity: 0.5"
                                    >
                                        <v-btn icon text @click="pickFile" v-if="!file">
                                            <v-icon style="font-size: 20px; color: white">edit</v-icon>
                                        </v-btn>
                                        <v-btn icon text @click="removeFile" v-else>
                                            <v-icon style="font-size: 20px; color: white">close</v-icon>
                                        </v-btn>
                                    </v-layout>
                                </v-expand-transition>
                            </v-img>
                        </v-avatar>
                    </v-hover>
                    <input type="file" style="display: none" ref="fileUpdate" @change="onFilePicked">
                </v-layout>
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-container grid-list-md>
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-text-field v-model="formData.username"
                                              :rules="rules.username"
                                              :label="$t('username')"
                                              outlined
                                              dense
                                              :disabled="formData.username==='super'"
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="formData.profile.fullName"
                                              :rules="rules.fullName"
                                              :label="$t('displayName')"
                                              outlined
                                              dense
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="formData.password"
                                              :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                                              :type="showPassword ? 'text' : 'password'"
                                              :label="$t('changePassword')"
                                              @click:append="showPassword = !showPassword"
                                              outlined
                                              dense
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="formData.emails[0].address"
                                              :rules="rules.email"
                                              :label="$t('email')"
                                              outlined
                                              dense
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </template>
            <template slot="actions">
                <reset-button @resetForm="resetForm" :disabled="loading"></reset-button>
                <submit-button @submitForm="submitForm" :loading="loading" :valid="valid"></submit-button>
            </template>
        </dialog-box>
    </div>
</template>

<script>
  import {mapActions} from 'vuex';
  import DialogBox from "../../../components/DialogBox";
  import SubmitButton from "../../../components/SubmitButton";
  import ResetButton from "../../../components/ResetButton";
  import numeral from 'numeral';
  // import {fileExtension} from "../../../../libs/fileExtension";

  export default {
    name: "ProfileUpdate",
    props: ['dialogVisible', 'currentRow'],
    components: {SubmitButton, ResetButton, DialogBox},
    data() {
      return {
        valid: false,
        showPassword: false,
        currentUser: this.$store.state.currentUser,
        currentModule: this.$store.state.currentModule,
        loading: false,
        progress: '',
        // file: null,
        // fileName: '',
        fileData: '',
        imageUrl: '/images/avatar.png',
        formData: {
          username: '',
          password: '',
          emails: [{address: ''}],
          profile: {
            fullName: '',
            photoUrl: '',
            fileName: '',
          }
        },
        rules: {
          username: [v => !!v || this.$t('usernameIsRequired')],
          password: [v => !!v || this.$t('passwordIsRequired')],
          email: [
            v => !!v || this.$t('emailIsRequired'),
            v => /.+@.+/.test(v) || this.$t('invalidEmail')
          ],
          fullName: [v => !!v || this.$t('displayNameIsRequired')],
        }
      }
    },
    methods: {
      ...mapActions(['updateUser']),
      pickFile() {
        return null;
        // this.$refs.fileUpdate.click();
      },
      onFilePicked(e) {
        return null;
      //   const files = e.target.files;
      //   if (files[0] !== undefined) {
      //     const matchExtension = files[0].name.match(/png|jpg|jpeg/g);
      //     if (!matchExtension) {
      //       this.$toaster.error("ប្រភេទឯកសារត្រូវតែជា png, jpg ឬ jpeg");
      //       this.fileName = '';
      //       this.file = null;
      //       this.fileData = '';
      //     } else {
      //       const fr = new FileReader();
      //       fr.readAsDataURL(files[0]);
      //       fr.addEventListener('load', () => {
      //         this.fileData = fr.result;
      //       });
      //       this.fileName = files[0].name;
      //       this.file = files[0];
      //     }
      //   } else {
      //     this.fileName = '';
      //     this.file = null;
      //     this.fileData = '';
      //   }
      },
      // removeFile() {
      //   this.fileName = '';
      //   this.file = null;
      //   this.fileData = '';
      // },
      submitForm() {
        if (this.$refs.form.validate()) {
          this.loading = true;
          setTimeout(() => this.updateProfile(), 500);
        }
      },
      resetForm() {
        this.$refs.form.resetValidation();
        this.$refs.form.reset();
        // this.fileName = '';
        // this.file = null;
        // this.fileData = '';
      },
      updateProfile() {
        let updateDoc = Object.assign({}, this.formData);
        if (this.file) {
          delete updateDoc.password;
        }
        Meteor.call('core_updateUser', {
          userId: this.currentUser._id,
          module: this.currentModule,
          selector: {_id: this.currentRow._id},
          updateDoc: updateDoc
        }, (err, res) => {
          if (!err) {
            this.successUpdate();
            /*removeFileFromFirebase*/
            // this.removeFileFromFirebase({uploadFileToFirebase: this.uploadFileToFirebase});
          } else {
            this.$toaster.error(err.message);
            this.loading = false;
          }
        });
      },
      //firebase
      // removeFileFromFirebase({uploadFileToFirebase}) {
      //   const vm = this;
      //   //remove old file when has new file
      //   if (!!vm.file) {
      //     if (!!vm.currentRow.profile.photoUrl) {
      //       //new file && old fileUrl
      //       let storageRef = storagePath.user(firebase.storage);
      //       const extension = fileExtension(vm.currentRow.profile.fileName); //why using currentRow: when changing file type
      //       const fileId = vm.currentRow._id; //fileId
      //       let ref = storageRef.child(fileId + extension);
      //       ref.delete().then(() => {
      //         /*uploadFileToFirebase [uploadFileToFirebase]*/
      //         //@docId = currentRow._id:
      //         //@onUploadSuccess
      //         //--> success remove old file
      //         vm.$toaster.warning('លុបឯកសារបានជោគជ័យ');
      //         //----> upload to firebase with new file
      //         //------> refactor new array
      //         uploadFileToFirebase({
      //           docId: vm.currentRow._id,
      //           onUploadSuccess: (downloadUrl, fileName) => vm.updateProfileWithFileUrl({
      //             updateId: vm.currentRow._id,
      //             downloadUrl,
      //             fileName, //new fileName
      //           })
      //         });
      //
      //       }).catch(function (error) {
      //         //on error remove file
      //         //-> lost file in firebase
      //         //-> has different name || different extension [unique fileName or fileId in firebase]
      //         //update file Url => successMessage
      //         //--> cannot find file to remove ----> upload new file ------> then update with fileUrl
      //         console.log('error when remove', error.message);
      //         if (error.code === 'storage/retry-limit-exceeded') {
      //           vm.loading = false;
      //           vm.$toaster.error(error.message);
      //         }
      //         if (error.code === 'storage/object-not-found') {
      //           vm.$toaster.error(`មិនអាចស្វែងរកទីតាំងឯកសារ`);
      //           uploadFileToFirebase({
      //             docId: vm.currentRow._id,
      //             onUploadSuccess: (downloadUrl, fileName) => vm.updateProfileWithFileUrl({
      //               updateId: vm.currentRow._id,
      //               downloadUrl,
      //               fileName,
      //             })
      //           })
      //         }
      //       });
      //     } else {
      //       //--> new file with without fileUrl
      //       //checking new upload file
      //       uploadFileToFirebase({
      //         docId: vm.currentRow._id,
      //         onUploadSuccess: (downloadUrl, fileName) => vm.updateProfileWithFileUrl({
      //           updateId: vm.currentRow._id,
      //           downloadUrl,
      //           fileName,
      //         })
      //       })
      //     }
      //   } else {
      //     this.successUpdate();
      //   }
      // },
      // uploadFileToFirebase({docId, onUploadSuccess}) {
      //   let storageRef = storagePath.user(firebase.storage);
      //   const vm = this;
      //   //has file
      //   if (!!vm.file) {
      //     const fileName = vm.file.name;
      //     const extension = fileExtension(fileName); //get extension from fileName
      //     const fileId = docId; //fileId in firebase
      //     let metadata = {
      //       customMetadata: {
      //         '_id': docId,
      //         'fileName': fileName,
      //         'username': vm.formData.username,
      //       }
      //     };
      //     let ref = storageRef.child(fileId + extension);
      //     let uploadTask = ref.put(vm.file, metadata);
      //     uploadTask.on(
      //       "state_changed",
      //       function (snapshot) {
      //         var progress = snapshot.bytesTransferred / snapshot.totalBytes * 100;
      //         switch (snapshot.state) {
      //           case firebase.storageState.PAUSED:
      //             vm.$toaster.warning('upload is paused');
      //             console.log('upload is paused');
      //             break;
      //           case firebase.storageState.RUNNING:
      //             vm.progress = numeral(progress).format('0');
      //             break;
      //         }
      //       },
      //       function (error) {
      //         if (error.code === 'storage/retry-limit-exceeded') {
      //           vm.loading = false;
      //           vm.$toaster.error(error.message);
      //         } else {
      //           vm.$toaster.error(error.message);
      //           vm.loading = false;
      //         }
      //       },
      //       function () {
      //         //successfully uploaded to firebase -> refactorRoles with new downloadUrl @updateId, downloadUrl, fileName, index
      //         uploadTask.snapshot.ref.getDownloadURL().then(url => onUploadSuccess(url, fileName));
      //       }
      //     );
      //   } else {
      //     //no file
      //     this.successUpdate();
      //   }
      // },
      // updateProfileWithFileUrl({updateId, downloadUrl, fileName}) {
      //   let {profile} = Object.assign({}, Meteor.user());
      //   profile.photoUrl = downloadUrl;
      //   profile.fileName = fileName;
      //   //
      //   Meteor.call('core_updateUser', {
      //     userId: this.currentUser._id,
      //     module: this.currentModule,
      //     selector: {_id: updateId},
      //     updateDoc: {password: this.formData.password, profile}
      //   }, (err, res) => {
      //     if (!err) {
      //       this.successUpdate();
      //     } else {
      //       if (this.formData.password) {
      //       document.location.reload();
      //       }
      //       console.log(err.message)
      //     }
      //   });
      // },
      successUpdate() {
        this.$toaster.success(this.$t('success'));
        this.loading = false;
        this.progress = '';
        document.location.reload();
        // this.handleClose();
        // if (this.currentRow._id === this.currentUser._id) {
        //   this.updateUser(Meteor.user());
        // }
      },
      handleClose() {
        this.$emit('close');
        this.$emit('reset');
        this.resetForm();
      }
    },
    watch: {
      currentRow(nextVal) {
        if (!!nextVal) {
          this.formData._id = !!nextVal._id ? nextVal._id : '';
          this.formData.username = !!nextVal.username ? nextVal.username : '';
          this.formData.emails[0].address = !!nextVal.emails ? nextVal.emails[0].address : '';

          this.formData.profile.approved = !!nextVal.profile ? nextVal.profile.approved : false;
          this.formData.profile.fullName = !!nextVal.profile ? nextVal.profile.fullName : '';
          this.formData.profile.isDark = !!nextVal.profile ? nextVal.profile.isDark : false;
          this.formData.profile.language = !!nextVal.profile ? nextVal.profile.language : 'en';
          this.formData.profile.modules = !!nextVal.profile ? nextVal.profile.modules : [];

          this.formData.profile.owner = !!nextVal.profile ? nextVal.profile.owner : false;
          this.formData.profile.fileName = !!nextVal.profile ? nextVal.profile.fileName : '';
          this.formData.profile.photoUrl = !!nextVal.profile ? nextVal.profile.photoUrl : '';

          // const vm = this;
          // if (!!nextVal.profile && !!nextVal.profile.photoUrl) {
          //   firebase.storage.refFromURL(nextVal.profile.photoUrl).getDownloadURL().then(function (url) {
          //     vm.imageUrl = url;
          //   }).catch(function (error) {
          //     vm.imageUrl = '/images/avatar.png';
          //   });
          // } else {
          //   vm.imageUrl = '/images/avatar.png';
          // }
        }
      },
      // fileName(val) {
      //   if (!val) {
      //     this.file = null;
      //     this.fileData = '';
      //   }
      // }
    },
  }
</script>

<style scoped>

</style>