<template>
    <div>
        <dialog-box :title="$t('edit')+' '+$t('user')" :visible="dialogVisible" @close="handleClose" width="1000"
                    :persistent="true">
            <template slot="content">
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-container grid-list-md>
                        <v-layout row wrap>
                            <v-flex xs12 sm4 md4>
                                <v-text-field v-model="formData.username"
                                              :rules="rules.username"
                                              :label="$t('username')"
                                              outlined
                                              dense
                                              :disabled="formData.username==='super'"
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4 md4>
                                <v-text-field v-model="formData.profile.fullName"
                                              :rules="rules.fullName"
                                              :label="$t('displayName')"
                                              outlined
                                              dense
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4 md4>
                                <v-text-field v-model="formData.password"
                                              :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                                              :type="showPassword ? 'text' : 'password'"
                                              :label="$t('changePassword')"
                                              @click:append="showPassword = !showPassword"
                                              outlined
                                              dense
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-layout row>
                            <v-flex xs8 sm8 md8>
                                <v-text-field v-model="formData.emails[0].address"
                                              :rules="rules.email"
                                              :label="$t('email')"
                                              outlined
                                              dense
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs4 sm4 md4>
                                <v-checkbox v-model="formData.profile.approved" :label="$t('approved')" color="primary">
                                </v-checkbox>
                            </v-flex>
                        </v-layout>
                        <!--modules/user level and roles-->
                        <v-subheader class="mb-2 px-0">{{$t('userLevel')}}</v-subheader>
                        <v-layout row wrap>
                            <v-flex xs2 sm2 md2 lg2>
                                <v-checkbox v-model="formData.profile.modules" :rules="rules.modules"
                                            :label="moduleOptions.app.label"
                                            :value="moduleOptions.app.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs10 sm10 md10 lg10>
                                <v-chip-group v-model="formData.roles.app" column multiple
                                              active-class="primary--text"
                                >
                                    <v-chip filter :value="item.value" outlined v-for="item in roleOptions.app" :key="item.value">
                                        {{item.label}}
                                    </v-chip>
                                </v-chip-group>
                            </v-flex>
                        </v-layout>
                        <!--                        <v-layout column wrap>-->
                        <!--                            <v-flex xs12 sm12 md12>-->
                        <!--                                <v-select v-model="formData.roles.app"-->
                        <!--                                          :items="roleOptions.app"-->
                        <!--                                          chips-->
                        <!--                                          label="App"-->
                        <!--                                          multiple-->
                        <!--                                          outlined-->
                        <!--                                          dense-->
                        <!--                                          item-text="label"-->
                        <!--                                          item-value="value"-->
                        <!--                                          :menu-props="{'maxWidth':200}"-->
                        <!--                                >-->
                        <!--                                    <template slot="selection" slot-scope="{ item, index }">-->
                        <!--                                        <v-chip small>-->
                        <!--                                            <span>{{ item.label }}</span>-->
                        <!--                                        </v-chip>-->
                        <!--                                    </template>-->
                        <!--                                    <template slot="prepend">-->
                        <!--                                        <v-checkbox v-model="formData.profile.modules"-->
                        <!--                                                    :value="moduleOptions.app.value"-->
                        <!--                                                    :label="moduleOptions.app.label"></v-checkbox>-->
                        <!--                                    </template>-->
                        <!--                                </v-select>-->
                        <!--                            </v-flex>-->
                        <!--                        </v-layout>-->
                        <!--                                                <v-layout column wrap>-->
                        <!--                                                    <v-flex xs12 sm12 md12>-->
                        <!--                                                        <v-select v-model="formData.roles.acc"-->
                        <!--                                                                  :items="roleOptions.acc"-->
                        <!--                                                                  chips-->
                        <!--                                                                  label="Acc"-->
                        <!--                                                                  multiple-->
                        <!--                                                                  outlined-->
                        <!--                                                                  dense-->
                        <!--                                                                  item-text="label"-->
                        <!--                                                                  item-value="value"-->
                        <!--                                                                  :menu-props="{'maxWidth':200}"-->
                        <!--                                                        >-->
                        <!--                                                            <template slot="selection" slot-scope="{ item, index }">-->
                        <!--                                                                <v-chip small>-->
                        <!--                                                                    <span>{{ item.label }}</span>-->
                        <!--                                                                </v-chip>-->
                        <!--                                                            </template>-->
                        <!--                                                            <template slot="prepend">-->
                        <!--                                                                <v-checkbox v-model="formData.profile.modules"-->
                        <!--                                                                            :value="moduleOptions.acc.value"-->
                        <!--                                                                            :label="moduleOptions.acc.label"></v-checkbox>-->
                        <!--                                                            </template>-->
                        <!--                                                        </v-select>-->
                        <!--                                                    </v-flex>-->
                        <!--                                                </v-layout>-->
                    </v-container>
                </v-form>
            </template>
            <template slot="actions">
                <reset-button @resetForm="resetForm" :disabled="loading"></reset-button>
                <submit-button @submitForm="submitForm" :loading="loading" :valid="valid"></submit-button>
            </template>
        </dialog-box>
    </div>
</template>

<script>
  import _ from 'lodash';
  import {mapActions} from 'vuex';
  import DialogBox from "../../../components/DialogBox";
  import SubmitButton from "../../../components/SubmitButton";
  import ResetButton from "../../../components/ResetButton";
  import Constants from "../../../../libs/constants";

  export default {
    name: "UserUpdate",
    props: ['dialogVisible', 'currentRow'],
    components: {SubmitButton, ResetButton, DialogBox},
    data() {
      return {
        valid: false,
        showPassword: false,
        currentUser: this.$store.state.currentUser,
        currentModule: this.$store.state.currentModule,
        loading: false,
        roleOptions: Constants.roleOptions,
        moduleOptions: Constants.moduleOptions,
        formData: {
          username: '',
          password: '',
          emails: [{address: ''}],
          roles: {app: [], acc: []},
          profile: {
            fullName: '',
            approved: false,
            modules: []
          }
        },
        rules: {
          username: [v => !!v || this.$t('usernameIsRequired')],
          password: [v => !!v || this.$t('passwordIsRequired')],
          email: [
            v => !!v || this.$t('emailIsRequired'),
            v => /.+@.+/.test(v) || this.$t('invalidEmail')
          ],
          fullName: [v => !!v || this.$t('displayNameIsRequired')],
          approved: [v => !!v || this.$t('approvedIsRequired')],
          modules: [v => !!v && v.length > 0 || this.$t('moduleIsRequired')],
          roles: [v => !!v || this.$t('roleIsRequired')],
        }
      }
    },
    methods: {
      ...mapActions(['updateUser']),
      submitForm() {
        if (this.$refs.form.validate()) {
          this.loading = true;

          if (this.formData.profile.modules.length > 0) {
            setTimeout(() => this.updateUserA(), 500);
          } else {
            this.loading = false;
            this.$toaster.error(this.$t('userLevelIsRequired'));
          }
        }
      },
      resetForm() {
        this.$refs.form.resetValidation();
        this.$refs.form.reset();
      },
      updateUserA() {
        let doc = Object.assign({}, this.formData);

        if (doc.username === 'super') {
          _.forIn(doc.roles, (value, key) => {
            console.log(key, value);
            !doc.roles[key].includes('super') ? doc.roles[key].push('super') : null;
          });
          doc.profile.approved = true;
        }

        Meteor.call('core_updateUser', {
          userId: this.currentUser._id,
          module: this.currentModule,
          selector: {_id: this.currentRow._id},
          updateDoc: doc
        }, (err, res) => {
          if (!err) {
            if (this.currentRow._id === this.currentUser._id) {
              document.location.reload();
              this.updateUser(Meteor.user());
            }
            this.$toaster.success(this.$t('success'));
            this.handleClose();
            this.$emit('findUser');
          } else {
            this.$toaster.error(err.message);
          }
          this.loading = false;
        });
      },
      handleClose() {
        this.$emit('close');
        this.$emit('reset');
        this.resetForm();
      }
    },
    watch: {
      currentRow(nextVal) {
        let data = Object.assign({}, nextVal);
        const {formData} = this;
        if (!!nextVal) {
          formData._id = !!data._id ? data._id : '';
          formData.username = !!data.username ? data.username : '';
          if (!!data.roles) {
            formData.roles = Object.assign({}, data.roles);
          } else {
            formData.roles = {};
          }
          formData.emails[0].address = !!data.emails ? data.emails[0].address : '';

          formData.profile.approved = !!data.profile ? data.profile.approved : false;
          formData.profile.fullName = !!data.profile ? data.profile.fullName : '';
          formData.profile.isDark = !!data.profile ? data.profile.isDark : false;
          formData.profile.language = !!data.profile ? data.profile.language : 'en';

          if (!!data.profile) {
            formData.profile.modules = data.profile.modules;
          } else {
            formData.profile.modules = [];
          }

          formData.profile.owner = !!data.profile ? data.profile.owner : false;
          formData.profile.fileName = !!data.profile ? data.profile.fileName : '';
          formData.profile.photoUrl = !!data.profile ? data.profile.photoUrl : '';
        }
      }
    }
  }
</script>

<style scoped>

</style>