<template>
    <div>
        <skeleton-loader :loading="fetching" child>
            <template slot="child">
                <v-card outlined class="pb-1">
                    <v-card-text class="px-7">
                        <v-layout row align-center>
                            <v-flex xs6 sm6 md3 lg3>
                                <add-button @add="userInsertVisible=true"></add-button>
                            </v-flex>
                            <v-spacer></v-spacer>
                            <v-flex xs6 sm6 md3 lg3>
                                <v-text-field
                                        @input="searchDebounce"
                                        :label="$t('search')"
                                        clearable
                                        prepend-inner-icon="search"
                                        filled
                                        rounded
                                        dense
                                        hide-details
                                        single-line
                                        class="pr-1"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                    <v-divider></v-divider>
                    <data-table :headers="tableHeaders"
                                :items="data.items"
                                :total="data.total"
                                :loading="loading"
                                :pagination="pagination"
                                @handlePageChange="handlePageChange"
                                @handleUpdatePagination="handleUpdatePagination"
                    >
                        <template slot="header" slot-scope="{header}">
                            <span>{{$t(header.text)}}</span>
                        </template>
                        <template slot="body" slot-scope="{items}">
                            <tbody>
                            <tr v-for="(item, index) in items" :key="item.username+index">
                                <td v-if="currentUser.username==='super'">{{ item._id }}</td>
                                <td>{{ item.username }}</td>
                                <td>{{ item.profile? item.profile.fullName: '' }}</td>
                                <td>
                                    <div v-for="(value, key) in item.roles" :key="key">
                                        <v-chip class="mr-1" label small>{{key}}</v-chip>
                                        <v-chip v-for="o in value" :key="o"
                                                :color="o==='admin'? 'success': o==='super'? 'error': 'primary'"
                                                text-color="white"
                                                small>
                                            {{ o }}
                                        </v-chip>
                                    </div>
                                </td>
                                <td>
                                    <v-chip color="warning" text-color="white" small
                                            v-for="value in item.profile.modules" :key="value">{{ value }}
                                    </v-chip>
                                </td>
                                <td class="justify-center center">
                                    <v-icon v-if="!!item.profile.approved" color="success">check_circle</v-icon>
                                    <v-icon v-else color="error">remove_circle</v-icon>
                                </td>
                                <td>{{ !!item.emails && item.emails.length>0?item.emails[0].address:'' }}</td>
                                <td class="justify-center">
                                    <v-btn color="primary" class="table-action-button" text icon
                                           v-if="item.username!=='super' || currentUser.username==='super'"
                                           @click.native="handleUpdate(item)">
                                        <v-icon>edit</v-icon>
                                    </v-btn>
                                    <v-btn color="error" class="table-action-button" text icon
                                           v-if="item.username!=='super'"
                                           @click.native="handleRemove(item)">
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                            </tbody>
                        </template>
                    </data-table>
                </v-card>
            </template>
        </skeleton-loader>
        <confirm-dialog
                :visible="confirmDialog.visible"
                @confirm="confirmDialog.confirmFn"
                @close="confirmDialog.visible=false"
                :title="confirmDialog.title"
                :type="confirmDialog.type"
                :text="confirmDialog.text"/>
        <!--user insert-->
        <user-insert :dialog-visible="userInsertVisible" @close="userInsertVisible=false" @findUser="findUser"/>
        <!--user update-->
        <user-update :dialog-visible="userUpdateVisible"
                     @close="userUpdateVisible=false"
                     @findUser="findUser"
                     :current-row="currentRow"
                     @reset="currentRow={}"/>
    </div>
</template>

<script>
  import DataTable from "../../../components/DataTable";
  import SkeletonLoader from "../../../components/SkeletonLoader";
  import ConfirmDialog from "../../../components/ConfirmDialog";
  import UserInsert from "./UserInsert";
  import UserUpdate from "./UserUpdate";
  import Constants from "../../../../libs/constants";
  import _ from 'lodash';
  import AddButton from "../../../components/AddButton";

  export default {
    name: "User",
    components: {AddButton, DataTable, SkeletonLoader, ConfirmDialog, UserInsert, UserUpdate},
    data() {
      return {
        currentUser: this.$store.state.currentUser,
        currentModule: this.$store.state.currentModule,
        skip: 0,
        limit: 10,
        fetching: true,
        loading: true,
        searchText: '',
        selector: {},
        data: {
          items: [],
          total: 0,
        },
        pagination: {
          page: 1,
          itemsPerPage: 10,
          multiSort: false,
          mustSort: false,
          sortBy: [],
          sortDesc: []
        },
        //form
        userInsertVisible: false,
        userUpdateVisible: false,
        currentRow: {},
        //extra
        confirmDialog: {
          type: 'error',
          visible: false,
          text: '',
          title: '',
          confirmFn: () => null
        },
      }
    },
    computed: {
      tableHeaders() {
        let headers = [
          {text: this.$t('username'), value: 'username', width: '120px'},
          {text: this.$t('displayName'), value: 'profile.fullName', width: '130px'},
          {text: this.$t('role'), value: 'roles', sortable: false},
          {text: this.$t('module'), value: 'profile.modules', sortable: false, width: '140px'},
          {text: this.$t('approved'), value: 'profile.approved', sortable: false, width: '100px'},
          {text: this.$t('email'), value: 'emails[0].address', width: '100px'},
          {text: this.$t('action'), sortable: false, width: '100px'}
        ];
        if (this.currentUser.username === 'super') {
          headers = [{text: this.$t('id'), value: '_id'}, ...headers];
        }
        return headers;
      }
    },
    methods: {
      searchDebounce: _.debounce(function (e) {
        this.searchText = e;
        this.findUser();
      }, 500),
      handlePageChange(page) {
        if (parseInt(page) !== this.pagination.page) {
          this.loading = true;
          this.pagination.page = parseInt(page);
          this.skip = (this.limit * parseInt(page)) - this.limit;
          this.findUser();
        }
      },
      handleUpdatePagination({sortDesc, itemsPerPage, sortBy}) {
        this.loading = true;
        this.limit = itemsPerPage;
        this.pagination = {
          page: Math.ceil((itemsPerPage + this.skip) / itemsPerPage),
          itemsPerPage: itemsPerPage,
          sortBy: sortBy,
          sortDesc: sortDesc,
        };
        let sort = {};
        sortBy.map((o, i) => sort[o] = !!sortDesc[i] ? -1 : 1);
        this.selector.sort = sort;
        this.findUser();
      },
      findUser: _.debounce(function (e) {
        Meteor.call('core_findUser', {
          userId: this.currentUser._id,
          module: this.currentModule,
          q: this.searchText,
          selector: this.selector,
          options: {
            limit: this.limit,
            skip: this.skip
          }
        }, (err, result) => {
          if (!err) {
            if (this.currentUser.username === 'super') {
              this.data.items = result.content;
              this.data.total = result.count;
            } else {
              this.data.items = result.content.filter(o => o.username !== 'super');
              this.data.total = result.count - 1;
            }
          } else {
            this.$toaster.error(err.message);
          }
          this.fetching = false;
          this.loading = false;
        });
      }, 200),
      handleRemove(row) {
        Meteor.call('core_userIsUsed', {
          userId: this.currentUser._id,
          module: this.currentModule,
          selector: {userId: row._id},
          options: {limit: 1, skip: 0}
        }, (err, res) => {
          if (!err) {
            if (res) {
              this.$toaster.error(this.$t('userIsUsed'));
            } else {
              this.confirmDialog = {
                type: 'error',
                visible: true,
                title: this.$t('confirm'),
                text: `${this.$t('areYouSureToDelete')} ${row.username}?`,
                confirmFn: () => this.removeUser(row)
              };
            }
          } else {
            this.$toaster.error(err.message);
          }
        });
      },
      handleUpdate(row) {
        this.currentRow = Object.assign({}, row);
        this.userUpdateVisible = true;
      },
      removeUser(row) {
        Meteor.call('core_removeUser', {
          userId: this.currentUser._id,
          module: this.currentModule,
          selector: {_id: row._id}
        }, (err, result) => {
          if (!err) {
            this.findUser();
            this.$toaster.success(`${this.$t('delete')} ${row.username} ${this.$t('success')}`);
          } else {
            this.$toaster.error(err.message);
          }
        })
      },
      // toKhModule(module) {
      //   let result = "";
      //   if (module === Constants.modulesOptions.art.value) {
      //     result = Constants.modulesOptions.art.label;
      //   }
      //   return result;
      // },
      // toKhRole(role) {
      //   let result = role;
      //   Constants.rolesOptions.art.forEach(o => {
      //     if (o.value === role) {
      //       result = o.label;
      //     }
      //   });
      //   return result;
      // }
    },
    created() {
      this.findUser();
    },
  }
</script>

<style scoped>

</style>