<template>
    <v-container grid-list-md>
        <v-layout row wrap justify-center align-center>
            <v-flex xs12 sm6 md4 lg4>
                <v-card class="pa-4" outlined>
                    <v-text-field
                            @click='pickStudentFile'
                            v-model="studentImport.fileName"
                            append-icon="attach_file"
                            @click:clear="studentImport.fileName=''"
                            clearable
                            readonly
                            label="Import data"
                            outlined
                            :rules="rules.studentImportFileName"
                    >
                    </v-text-field>
                    <input
                            type="file"
                            style="display: none"
                            ref="studentImportFile"
                            @change="onStudentFilePicked">
                    <v-btn @click="submitStudentImport"
                           color="primary"
                           :disabled="!studentImport.fileName"
                           text
                           :loading="studentImportLoading">
                        <v-icon left>send</v-icon>
                        <span class="font-weight-bold">{{$t('submit')}}</span>
                    </v-btn>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  import XLSX from 'xlsx';

  export default {
    name: "ImportFile",
    data() {
      return {
        rawData: [],
        currentUser: this.$store.state.currentUser,
        currentModule: this.$store.state.currentModule,
        //student
        studentImportLoading: false,
        studentImport: {
          fileName: '',
          file: ''
        },
        //rules
        rules: {
          studentImportFileName: [v => !!v || this.$t('fileIsRequired')],
        },
      }
    },
    methods: {
      pickStudentFile() {
        this.$refs.studentImportFile.click();
      },
      onStudentFilePicked(e) {
        const files = e.target.files;
        if (files[0] !== undefined) {
          const matchExtension = files[0].name.match(/xlsx/g);
          if (!matchExtension) {
            this.$toaster.error(this.$t('fileTypeMustBeXlsx'));
            this.studentImport.file = [];
            this.studentImport.fileName = '';
          } else {
            this.studentImport.fileName = files[0].name;
            this.studentImport.file = files[0];
          }
        } else {
          this.studentImport.fileName = '';
          this.studentImport.file = null;
        }
      },
      submitStudentImport() {
        this.studentImportLoading = true;
        const {file} = this.studentImport;
        setTimeout(() => {
          this.readDataFromFile({
            file,
            onFileRead: (docs) => this.uploadData({
              methodName: 'sam_importStudent', docs,
              error: () => {
                this.studentImportLoading = false;
                this.studentImport.fileName = '';
                this.studentImport.file = null;
              },
              success: () => {
                this.studentImportLoading = false;
                this.studentImport.fileName = '';
                this.studentImport.file = null;
              }
            })
          })
        }, 500);
      },
      //
      uploadData({methodName, docs, error, success}) {
        this.rawData = docs;
        Meteor.call(methodName, {userId: this.currentUser._id, docs: docs, module: this.currentModule}, (err, res) => {
          if (!err) {
            this.$toaster.success('បញ្ជូនរួចរាល់');
            success();
          } else {
            this.$toaster.error(err.message);
            error();
          }
        });
      },
      fixdata(data) {
        let o = "",
          l = 0,
          w = 10240;
        for (l; l < data.byteLength / w; ++l)
          o += String.fromCharCode.apply(
            null,
            new Uint8Array(data.slice(l * w, l * w + w))
          );
        o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
        return o;
      },
      readDataFromFile({file, onFileRead}) {
        let reader = new FileReader();
        reader.onload = (val) => {
          let results,
            data = val.target.result,
            fixedData = this.fixdata(data),
            workbook = XLSX.read(btoa(fixedData), {type: "base64"}),
            firstSheetName = workbook.SheetNames[0],
            worksheet = workbook.Sheets[firstSheetName];
          results = XLSX.utils.sheet_to_json(worksheet);
          onFileRead(results);
        };
        reader.readAsArrayBuffer(file);
      },
      get_header_row(sheet) {
        let headers = [], range = XLSX.utils.decode_range(sheet["!ref"]);
        let C, R = range.s.r;
        /* start in the first row */
        for (C = range.s.c; C <= range.e.c; ++C) {
          /* walk every column in the range */
          let cell = sheet[XLSX.utils.encode_cell({c: C, r: R})];
          /* find the cell in the first row */
          let hdr = "UNKNOWN " + C; // <-- replace with your desired default
          if (cell && cell.t) hdr = XLSX.utils.format_cell(cell);
          headers.push(hdr);
        }
        return headers;
      },
      workbook_to_json(workbook) {
        let result = {};
        workbook.SheetNames.forEach(function (sheetName) {
          let roa = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
          if (roa.length > 0) {
            result[sheetName] = roa;
          }
        });
        return result;
      },
    },
    watch: {
      'studentImport.fileName'(val) {
        if (!val) {
          this.studentImport.file = null;
        }
      }
    }
  }
</script>

<style scoped>

</style>